.image-mt
  margin-top: 7rem

h3
  font-size: 1.75em
  font-weight: 600

h5
  font-size: 1.5em

h6
  line-height: 3vh
  color: #666

.mt-7
  margin-top: 7em

.text-black
  color: black

.dot
  height: 65px
  width: 65px
  background-color: teal
  border-radius: 50%
  display: inline-block
  color: white

.fas, .fab
  padding-top: 15px

.fa-tasks
  padding: 15px
