<div class="container mt-7 mb-5">
  <h5 class="text-center mt-5">RECOGNITION CERTIFICATION</h5>
  <hr>
  <div id="certificates">
    <!-- show on xl and lg -->
    <div class="d-none d-lg-block d-xl-block mt-3 show-large">
      <div class="col-lg-12">
        <div class="row mt-5 certificate">
          <div class="col-lg-3 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/iso_9001_2015.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/iso_9001_2015.jpeg" class="w-100" alt="ISO 9001:2015">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/pendaftaran_penyedia_latihan.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/pendaftaran_penyedia_latihan.jpeg" class="w-100" alt="Pendaftaran Penyedia Latihan">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/sme_frontliners_empowerment.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/sme_frontliners_empowerment.jpeg" class="w-100" alt="SME Frontliners Empowerment">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/syarikat_bumiputera.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/syarikat_bumiputera.jpeg" class="w-100" alt="Syarikat Bumiputera">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-lg-3 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/1_Im1.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/1_Im1.jpeg" class="w-100" alt="SME Competitivenes">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/6_Im6.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/6_Im6.jpeg" class="w-100" alt="IRQAO">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021_000/1_Im1.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021_000/1_Im1.jpeg" class="w-100" alt="PLWS 2018">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021_0002/1_Im1.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021_0002/1_Im1.jpeg" class="w-100" alt="SME Frontliners Empowerment">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- show only on md -->
    <div class="d-none d-md-block d-lg-none">
      <div class="col-md-12">
        <div class="row mt-5 certificate">
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/iso_9001_2015.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/iso_9001_2015.jpeg" class="w-100" alt="ISO 9001:2015">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/kementrian_sumber_manusia.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/kementrian_sumber_manusia.jpeg" class="w-100" alt="Kementerian Sumber Manusia">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/pendaftaran_penyedia_latihan.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/pendaftaran_penyedia_latihan.jpeg" class="w-100" alt="Pendaftaran Penyedia Latihan">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/sme_bank.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/sme_bank.jpeg" class="w-100" alt="SME Bank">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/sme_frontliners_empowerment.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/sme_frontliners_empowerment.jpeg" class="w-100" alt="SME Frontliners Empowerment">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/syarikat_bumiputera.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/syarikat_bumiputera.jpeg" class="w-100" alt="Syarikat Bumiputera">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/1_Im1.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/1_Im1.jpeg" class="w-100" alt="SME Competitivenes">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/2_Im2.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/2_Im2.jpeg" class="w-100" alt="SLDN">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/3_Im3.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/3_Im3.jpeg" class="w-100" alt="MASLOW">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/4_Im4.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/4_Im4.jpeg" class="w-100" alt="UMP Advanced">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/5_Im5.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/5_Im5.jpeg" class="w-100" alt="EICC">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/6_Im6.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/6_Im6.jpeg" class="w-100" alt="IRQAO">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/7_Im7.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/7_Im7.jpeg" class="w-100" alt="EPC SME BANK">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/8_Im8.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/8_Im8.jpeg" class="w-100" alt="PLWS 2018">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021_000/1_Im1.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021_000/1_Im1.jpeg" class="w-100" alt="PLWS 2018">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021_0002/1_Im1.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021_0002/1_Im1.jpeg" class="w-100" alt="SME Frontliners Empowerment">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- show only on sm -->
    <div class="d-none d-sm-block d-md-none">
      <div class="col-sm-12">
        <div class="row mt-5 certificate">
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/iso_9001_2015.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/iso_9001_2015.jpeg" class="w-100" alt="ISO 9001:2015">
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/kementrian_sumber_manusia.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/kementrian_sumber_manusia.jpeg" class="w-100" alt="Kementerian Sumber Manusia">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/pendaftaran_penyedia_latihan.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/pendaftaran_penyedia_latihan.jpeg" class="w-100" alt="Pendaftaran Penyedia Latihan">
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/sme_bank.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/sme_bank.jpeg" class="w-100" alt="SME Bank">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/sme_frontliners_empowerment.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/sme_frontliners_empowerment.jpeg" class="w-100" alt="SME Frontliners Empowerment">
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/syarikat_bumiputera.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/syarikat_bumiputera.jpeg" class="w-100" alt="Syarikat Bumiputera">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/1_Im1.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/1_Im1.jpeg" class="w-100" alt="SME Competitivenes">
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/2_Im2.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/2_Im2.jpeg" class="w-100" alt="SLDN">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/3_Im3.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/3_Im3.jpeg" class="w-100" alt="MASLOW">
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/4_Im4.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/4_Im4.jpeg" class="w-100" alt="UMP Advanced">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/5_Im5.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/5_Im5.jpeg" class="w-100" alt="EICC">
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/6_Im6.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/6_Im6.jpeg" class="w-100" alt="IRQAO">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/7_Im7.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/7_Im7.jpeg" class="w-100" alt="EPC SME BANK">
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/8_Im8.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/8_Im8.jpeg" class="w-100" alt="PLWS 2018">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021_000/1_Im1.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021_000/1_Im1.jpeg" class="w-100" alt="PLWS 2018">
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021_0002/1_Im1.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021_0002/1_Im1.jpeg" class="w-100" alt="SME Frontliners Empowerment">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- show only on xs -->
    <div class="d-block d-sm-none">
      <div class="col-12">
        <div class="row mt-5 certificate">
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/iso_9001_2015.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/iso_9001_2015.jpeg" class="w-100" alt="ISO 9001:2015">
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/kementrian_sumber_manusia.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/kementrian_sumber_manusia.jpeg" class="w-100" alt="Kementerian Sumber Manusia">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/pendaftaran_penyedia_latihan.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/pendaftaran_penyedia_latihan.jpeg" class="w-100" alt="Pendaftaran Penyedia Latihan">
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/sme_bank.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/sme_bank.jpeg" class="w-100" alt="SME Bank">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/sme_frontliners_empowerment.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/sme_frontliners_empowerment.jpeg" class="w-100" alt="SME Frontliners Empowerment">
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/syarikat_bumiputera.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/syarikat_bumiputera.jpeg" class="w-100" alt="Syarikat Bumiputera">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/1_Im1.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/1_Im1.jpeg" class="w-100" alt="SME Competitivenes">
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/2_Im2.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/2_Im2.jpeg" class="w-100" alt="SLDN">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/3_Im3.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/3_Im3.jpeg" class="w-100" alt="MASLOW">
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/4_Im4.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/4_Im4.jpeg" class="w-100" alt="UMP Advanced">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/5_Im5.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/5_Im5.jpeg" class="w-100" alt="EICC">
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/6_Im6.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/6_Im6.jpeg" class="w-100" alt="IRQAO">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/7_Im7.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/7_Im7.jpeg" class="w-100" alt="EPC SME BANK">
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021/8_Im8.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021/8_Im8.jpeg" class="w-100" alt="PLWS 2018">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 certificate">
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021_000/1_Im1.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021_000/1_Im1.jpeg" class="w-100" alt="PLWS 2018">
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 text-center">
            <div class="card">
              <div class="card-body">
                <a href="assets/certificates/new_cert/CCF05082021_0002/1_Im1.jpeg" class="mag-popup" data-interval='1000'>
                  <img src="assets/certificates/new_cert/CCF05082021_0002/1_Im1.jpeg" class="w-100" alt="SME Frontliners Empowerment">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
