footer
  background-color: RGBA(0, 0, 45, 0.5)
  a
    margin: 15px

    i
      font-size: 2.5rem
      color: white

    .fa-facebook
      &:hover
        color: #4267B2
        text-shadow: 2px 3px 5px #00d0ff
        top: -3px

    .fa-twitter
      &:hover
        color: #1DA1F2
        text-shadow: 2px 3px 5px #00d0ff
        top: -3px

    .fa-instagram
      &:hover
        color: #C13584
        text-shadow: 2px 3px 5px #00d0ff
        top: -3px

    .fa-youtube
      &:hover
        color: #FF0000
        text-shadow: 2px 3px 5px #00d0ff
        top: -3px

  // i
  //   display: inline-block
  //   color: black
  //   text-decoration: none
  //   margin: 15px
  //   position: relative
  //   -webkit-transition-duration: 0.4s
  //   -moz-transition-duration: 0.4s
  //   -o-transition-duration: 0.4s
  //   transition-duration: 0.4s

  //   &:hover
  //     color: #fff
  //     opacity: 0.9
  //     text-shadow: 2px 3px 5px #00d0ff
  //     top: -3px
  // a
  //   margin: 15px
  //   display: inline-block
  //   color: black
  //   text-decoration: none
  //   position: relative
  //   // -webkit-transition-duration: 0.5s
  //   // -moz-transition-duration: 0.5s
  //   // -o-transition-duration: 0.5s
  //   // transition-duration: 0.5s

  //   &:hover
  //     color: #fff
  //     opacity: 0.9
  //     // text-shadow: 2px 3px 5px #00d0ff
  //     top: -3px

  // .fa
  //   font-size: 2.5rem
  //   -webkit-transition-duration: 0.5s
  //   -moz-transition-duration: 0.5s
  //   -o-transition-duration: 0.5s
  //   transition-duration: 0.5s
  //   color: white

  // .fa-facebook
  //   // color: blue
  //   &::hover
  //     color: #4267B2

  .color-white
    color: white
