<footer class="mt-5">
  <div class="row">
    <div class="col-lg-12 text-center mt-4 mb-3">
      <a href="#"><i class="fa fa-facebook fa-3x"></i></a>
      <a href="#"><i class="fa fa-twitter fa-3x"></i></a>
      <a href="#"><i class="fa fa-instagram fa-3x"></i></a>
      <a href="#"><i class="fa fa-youtube fa-3x"></i></a>
    </div>
    <hr>
    <div class="col-lg-12">
      <p class="text-center color-white">
        &copy; Copyright Griffin Solution - All Rights Reserved
      </p>
    </div>
  </div>
</footer>
