<div class="container mt-7 mb-5">
  <h4 class="mt-5 mb-3 font-weight-bold"><i class="fas fa-user-secret"></i> Our Speaker</h4>
  <h5 class="speaker">
    Mr. Omantaram Kangarajoo
  </h5>
  <h6>
    A TRAINING AND INDUSTRIAL
  MANAGEMENT CONSULTANT /
  TRAINER WHO HAVE VAST
  WORKING EXPERIENCE FOR 25
  YEARS IN THE AREAS OF
  ENGINEERING, ENVIRONMENTAL
  AND QUALITY
  </h6>

  <div class="card mt-5">
    <div class="card-body">
      <h4 class="mb-3 font-weight-bold">What you'll learn</h4>
      <ul class="checklist-ul">
        <li *ngFor="let item of contents">
          <h6 class="mb-3">
            {{item.content}}
          </h6>
        </li>
      </ul>
    </div>
  </div>

  <div class="qr-code mt-5">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-2 col-md-4 col-sm-4 col-5 pr-0">
          <img src="assets/qr-code/rohs-hs-management-system.png" class="w-100" alt="ROHS HS Management System QR Program">
        </div>
      </div>
    </div>
  </div>
</div>
