<div class="container mt-7 mb-5">
  <div class="col-lg-12 col-12">
    <blockquote class="text-center">"{{randomQuote.quote}}"</blockquote>
    <p class="text-center">{{randomQuote.from}}</p>
  </div>

  <h5 class="text-center mt-5">Industiral Base Training</h5>
  <div id="industrial-base-training">
    <!-- show on xl and lg -->
    <div class="d-none d-lg-block d-xl-block mt-3 show-large">
      <div class="row mt-5">
        <div class="col-lg-3 text-center">
          <a routerLink="/industrial-base-training/detail/autonomous-maintenance">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-tools fa-2x"></i>
              </span>
              <br>
              Autonomous Maintenance
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/industrial-base-training/detail/best-practice-for-halal-industry">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-fish fa-2x"></i>
              </span>
              <br>
              Best Practice for Halal Industry
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/industrial-base-training/detail/contract-review-and-management">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-file-signature fa-2x pl-5px"></i>
              </span>
              <br>
              Contract Review & Management
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/industrial-base-training/detail/halal-awarness">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-egg fa-2x"></i>
              </span>
              <br>
              Halal Awarness
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-3 text-center">
          <a routerLink="/industrial-base-training/detail/industrial-pneumatics">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-rocket fa-2x"></i>
              </span>
              <br>
              Industrial Pneumatic
            </div>
          </a>
        </div>
        <div class="col-lg-3 text-center">
          <a routerLink="/industrial-base-training/detail/integrated-haccp-halal-fscc">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-hamburger fa-2x"></i>
              </span>
              <br>
              Integrated HACCP, Halal FSSC 22000 Awarness
            </div>
          </a>
        </div>
        <div class="col-lg-3 text-center">
          <a routerLink="/industrial-base-training/detail/understanding-implementation-of-responsible-business-alliance">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="far fa-handshake fa-2x"></i>
              </span>
              <br>
              Understanding & Implementation of Responsible Business Alliance
            </div>
          </a>
        </div>
        <div class="col-lg-3 text-center">
          <a routerLink="/industrial-base-training/detail/understanding-of-mechanical-elements">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-cogs fa-2x"></i>
              </span>
              <br>
              Understanding of Mechanical Elements
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- show only on md -->
    <div class="d-none d-md-block d-lg-none">
      <div class="row mt-5">
        <div class="col-md-3 text-center">
          <a routerLink="/industrial-base-training/detail/autonomous-maintenance">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-tools fa-2x"></i>
              </span>
              <br>
              Autonomous Maintenance
            </div>
          </a>
        </div>

        <div class="col-md-3 text-center">
          <a routerLink="/industrial-base-training/detail/best-practice-for-halal-industry">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-fish fa-2x"></i>
              </span>
              <br>
              Best Practice for Halal Industry
            </div>
          </a>
        </div>

        <div class="col-md-3 text-center">
          <a routerLink="/industrial-base-training/detail/contract-review-and-management">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-file-signature fa-2x pl-5px"></i>
              </span>
              <br>
              Contract Review & Management
            </div>
          </a>
        </div>

        <div class="col-md-3 text-center">
          <a routerLink="/industrial-base-training/detail/halal-awarness">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-egg fa-2x"></i>
              </span>
              <br>
              Halal Awarness
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3 text-center">
          <a routerLink="/industrial-base-training/detail/industrial-pneumatics">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-rocket fa-2x"></i>
              </span>
              <br>
              Industrial Pneumatic
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center">
          <a routerLink="/industrial-base-training/detail/integrated-haccp-halal-fscc">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-hamburger fa-2x"></i>
              </span>
              <br>
              Integrated HACCP, Halal FSSC 22000 Awarness
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center">
          <a routerLink="/industrial-base-training/detail/understanding-implementation-of-responsible-business-alliance">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="far fa-handshake fa-2x"></i>
              </span>
              <br>
              Understanding & Implementation of Responsible Business Alliance
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center">
          <a routerLink="/industrial-base-training/detail/understanding-of-mechanical-elements">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-cogs fa-2x"></i>
              </span>
              <br>
              Understanding of Mechanical Elements
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- show only on sm -->
    <div class="d-none d-sm-block d-md-none">
      <div class="row mt-5">
        <div class="col-sm-3 text-center">
          <a routerLink="/industrial-base-training/detail/autonomous-maintenance">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-tools fa-2x"></i>
              </span>
              <br>
              Autonomous Maintenance
            </div>
          </a>
        </div>

        <div class="col-sm-3 text-center">
          <a routerLink="/industrial-base-training/detail/best-practice-for-halal-industry">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-fish fa-2x"></i>
              </span>
              <br>
              Best Practice for Halal Industry
            </div>
          </a>
        </div>

        <div class="col-sm-3 text-center">
          <a routerLink="/industrial-base-training/detail/contract-review-and-management">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-file-signature fa-2x pl-5px"></i>
              </span>
              <br>
              Contract Review & Management
            </div>
          </a>
        </div>

        <div class="col-sm-3 text-center">
          <a routerLink="/industrial-base-training/detail/halal-awarness">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-egg fa-2x"></i>
              </span>
              <br>
              Halal Awarness
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-3 text-center">
          <a routerLink="/industrial-base-training/detail/industrial-pneumatics">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-rocket fa-2x"></i>
              </span>
              <br>
              Industrial Pneumatic
            </div>
          </a>
        </div>
        <div class="col-sm-3 text-center">
          <a routerLink="/industrial-base-training/detail/integrated-haccp-halal-fscc">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-hamburger fa-2x"></i>
              </span>
              <br>
              Integrated HACCP, Halal FSSC 22000 Awarness
            </div>
          </a>
        </div>
        <div class="col-sm-3 text-center">
          <a routerLink="/industrial-base-training/detail/understanding-implementation-of-responsible-business-alliance">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="far fa-handshake fa-2x"></i>
              </span>
              <br>
              Understanding & Implementation of Responsible Business Alliance
            </div>
          </a>
        </div>
        <div class="col-sm-3 text-center">
          <a routerLink="/industrial-base-training/detail/understanding-of-mechanical-elements">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-cogs fa-2x"></i>
              </span>
              <br>
              Understanding of Mechanical Elements
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- show only on xs -->
    <div class="d-block d-sm-none">
      <div class="row mt-5">
        <div class="col-6 text-center">
          <a routerLink="/industrial-base-training/detail/autonomous-maintenance">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-tools fa-2x"></i>
              </span>
              <br>
              Autonomous Maintenance
            </div>
          </a>
        </div>
        <div class="col-6 text-center">
          <a routerLink="/industrial-base-training/detail/best-practice-for-halal-industry">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-fish fa-2x"></i>
              </span>
              <br>
              Best Practice for Halal Industry
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6 text-center">
          <a routerLink="/industrial-base-training/detail/contract-review-and-management">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-file-signature fa-2x pl-5px"></i>
              </span>
              <br>
              Contract Review & Management
            </div>
          </a>
        </div>

        <div class="col-6 text-center">
          <a routerLink="/industrial-base-training/detail/halal-awarness">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-egg fa-2x"></i>
              </span>
              <br>
              Halal Awarness
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6 text-center">
          <a routerLink="/industrial-base-training/detail/industrial-pneumatics">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-rocket fa-2x"></i>
              </span>
              <br>
              Industrial Pneumatic
            </div>
          </a>
        </div>
        <div class="col-6 text-center">
          <a routerLink="/industrial-base-training/detail/integrated-haccp-halal-fscc">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-hamburger fa-2x"></i>
              </span>
              <br>
              Integrated HACCP, Halal FSSC 22000 Awarness
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6 text-center">
          <a routerLink="/industrial-base-training/detail/understanding-implementation-of-responsible-business-alliance">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="far fa-handshake fa-2x"></i>
              </span>
              <br>
              Understanding & Implementation of Responsible Business Alliance
            </div>
          </a>
        </div>
        <div class="col-6 text-center">
          <a routerLink="/industrial-base-training/detail/understanding-of-mechanical-elements">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-cogs fa-2x"></i>
              </span>
              <br>
              Understanding of Mechanical Elements
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
