<div class="container">
  <div id="about-us">
    <!-- show on xl and lg -->
    <div class="d-none d-lg-block d-xl-block mt-3 show-large">
      <div class="row justify-content-lg-center =">
        <div class="col col-lg-6 image-mt text-center">
          <img src="assets/griffinlogo.png" class="w-50" alt="About Us Image">
        </div>
      </div>
    </div>
    <!-- show only on md -->
    <div class="d-none d-md-block d-lg-none">
      <div class="row justify-content-md-center">
        <div class="col col-md-6 image-mt text-center">
          <img src="assets/griffinlogo.png" class="w-50" alt="About Us Image">
        </div>
      </div>
    </div>
    <!-- show only on sm -->
    <div class="d-none d-sm-block d-md-none">
      <div class="row justify-content-sm-center">
        <div class="col col-sm-8 image-mt text-center">
          <img src="assets/griffinlogo.png" class="w-50" alt="About Us Image">
        </div>
      </div>
    </div>
    <!-- show only on xs -->
    <div class="d-block d-sm-none">
      <div class="row justify-content-center">
        <div class="col col-8 image-mt text-center">
          <img src="assets/griffinlogo.png" class="w-50" alt="About Us Image">
        </div>
      </div>
    </div>
  </div>

  <h6 class="justify-text mt-3" data-aos="fade-right">We believe, every client is different and it is crucial to identify cleints need before any design and development of programs.</h6>
  <h6 class="justify-text" data-aos="fade-left">
    At Griffin Solution PLT, as a Training and Consultancy provider, we believe our ability in improving your company performance.
    We're obsessively passionate about it, with consistent and systematic training solution for your employees, allowing your company to grow beyond.
  </h6>
  <h6 class="justify-text mb-3" data-aos="fade-right">
    We focus on designing and delivering high quality and high impact training program that improved performance, productivity and profitability.
  </h6>
  <hr class="mt-5 mb-5">
  <div class="org-chart mt-4">
    <h5 class="text-center">Company Organization Chart</h5>
    <img src="assets/org_chart.png" alt="Company Organization Chart" class="w-100 text-center mt-3">
  </div>
</div>
