<div class="box">
  <div class="top-box">
    <img src="assets/griffinlogo.png" class="chat-logo">
    <h5>Hi there <i class="fas fa-hand-sparkles"></i></h5>
    <h6>We're here to help you succeed</h6>
  </div>
  <div class="chat-box">
    <div class="container chat-box-container pl-0 pr-0">
      <div>
        <div class="col-message-wrapper">
        </div>
      </div>
    </div>
    <!-- typing animation  -->
    <div class="typing-animation">
        <div class="justify-content-start">
            <div class="col-12 col-typing-wrapper">
                <div class="typing-wrapper">
                    <div class="row typing">
                        <p class="typing-time mb-0 font-weight-bold">Typing</p>
                        <div id="wave">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="action-button col-lg-12 pr-0 pl-0">
    <div class="choices">
      <div class="header row" id="choice-btn-append">
          <div class="col-12 imessage">
            <button type="button" class="btn btn-light btn-block opt-btn" (click)="technicalSkillClick()">I want to ask about Technical Skill Training</button>
            <button type="button" class="btn btn-light btn-block opt-btn" (click)="softSkillClick()">I want to ask about Soft Skill Training</button>
            <button type="button" class="btn btn-light btn-block opt-btn" (click)="industrialSkillClick()">I want to ask about Industrial Skill Training</button>
          </div>
      </div>
  </div>
  </div>
</div>
<div class="fixed-action-button">
  <a class="btn-floating btn-large">
    <i class="icon far fa-comment-alt"></i>
  </a>
</div>
