.fixed-action-button
  position: fixed
  bottom: 10%
  right: 24px
  z-index: 10

.btn-floating
  display: inline-block
  color: #fff
  position: relative
  overflow: hidden
  z-index: 1
  width: 55px
  height: 55px
  line-height: 37px
  padding: 0
  background-color: #26a69a
  border-radius: 50%
  transition: .3s
  cursor: pointer
  vertical-align: middle

.far
  width: inherit
  display: inline-block
  text-align: center
  color: #fff
  font-size: 26px
  margin-top: 15px

.box
  position: fixed
  bottom: 18vh
  right: 24px
  z-index: 10
  width: 375px
  height: 650px
  background: white
  border-radius: 15px
  display: none
  box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
  -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
  background-color: darkgrey

  .top-box
    width: 100%
    height: 165px
    background: black
    border-top-left-radius: 15px
    border-top-right-radius: 15px
    padding: 20px 30px

    .chat-logo
      width: 20%

    h5
      color: white
      font-size: 2rem

    h6
      color: darkgrey

  .conversation-box
    padding: 20px 30px
    z-index: 15
    width: 90%
    height: 235px
    background: white
    box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
    -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
    position: absolute
    left: 5%
    bottom: 37%
    border-radius: 3px
    border-top-color: teal
    border-top-style: solid
    border-top-left-radius: 3px
    border-top-right-radius: 3px

    .one
      color: darkgray
      font-size: 16px

    .two
      color: black
      font-size: 16px

    .fa-paper-plane
      font-size: 14px

    a
      text-decoration: none
      color: teal
      &:hover
        text-decoration: none

  .chat-box
    height: 34.1vh
    z-index: -10
    padding: 10px 5px
    text-align: left
    overflow-y: auto
    overflow-x: hidden
    display: block
    padding-top: 0

    .message-text
      position: relative
      display: inline-block
      background-image: linear-gradient(to right, #30c76b, #a5dfcf)
      width: -webkit-fit-content
      width: -moz-fit-content
      width: fit-content
      max-width: 100%
      margin-top: 0.5rem
      border-top-left-radius: 20px
      border-bottom-left-radius: 20px
      border-top-right-radius: 20px

    .chat-box-container
      .justity-content-start
        .message-text
          max-width: 100%
          border-bottom-right-radius: 20px
          border-top-right-radius: 20px
          border-top-left-radius: 20px
          position: relative
          display: inline-block
          background-image: linear-gradient(to right, #30c76b, #a5dfcf)
          width: -webkit-fit-content
          width: -moz-fit-content
          width: fit-content
          padding: 10px

      .justify-content-end
        margin-top: 5px
        .reply
          background-color: #fff
          border-bottom-left-radius: 20px
          border-top-left-radius: 20px
          border-top-right-radius: 20px
          display: inline-block
          margin-top: .5rem
          max-width: 100%
          position: relative
          width: -webkit-fit-content
          width: -moz-fit-content
          width: fit-content

          .text
            max-width: 100%
            border-bottom-right-radius: 20px
            border-top-right-radius: 20px
            border-top-left-radius: 20px
            position: relative
            display: inline-block
            background-image: linear-gradient(to right, #30c76b, #a5dfcf)
            width: -webkit-fit-content
            width: -moz-fit-content
            width: fit-content
            padding: 10px

  .col-typing-wrapper
    // position: relative
    .typing-wrapper
      // display: none
      .typing
        position: relative
        top: 5px
        display: inline-flex
        background-image:  linear-gradient(to right, gray, white)
        width: fit-content
        max-width: 100%
        padding: 5px

        .typing-type
          padding-bottom: 5px

div#wave
  position: relative
  text-align: left
  margin-left: 5px
  .dot
    display: inline-block
    width: 7px
    height: 7px
    border-radius: 50%
    margin-right: 3px
    background:#303131
    animation: wave 1.3s linear infinite

    &:nth-child(2)
      animation-delay: -1.1s

    &:nth-child(3)
      animation-delay: -0.9s

.choices
  margin-top: 5px
  padding: 10px
  background-color: #667
  border-bottom-left-radius: 15px
  border-bottom-right-radius: 15px
  display: none

.hide
    display: none !important

.displayFlex
    display: flex !important

.displayBlock
    display: block !important

@keyframes wave
  0%, 60%, 100%
    transform: initial

  30%
    transform: translateY(-15px)

.hide
  display: none !important

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px)
  .box
    position: fixed
    bottom: 17vh
    right: 24px
    z-index: 10
    width: 375px
    height: 600px
    background: white
    border-radius: 15px
    display: none
    box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
    -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)

    .top-box
      width: 100%
      height: 235px
      background: black
      border-top-left-radius: 15px
      border-top-right-radius: 15px
      padding: 20px 30px

      .chat-logo
        width: 20%

      h5
        color: white
        font-size: 2rem

      h6
        color: darkgrey

    .conversation-box
      padding: 20px 30px
      z-index: 15
      width: 90%
      height: 235px
      background: white
      box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
      -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
      -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
      position: absolute
      left: 5%
      bottom: 33%
      border-radius: 3px
      border-top-color: teal
      border-top-style: solid
      border-top-left-radius: 3px
      border-top-right-radius: 3px

      .one
        color: darkgray
        font-size: 16px

      .two
        color: black
        font-size: 16px

      .fa-paper-plane
        font-size: 14px

      a
        text-decoration: none
        color: teal
        &:hover
          text-decoration: none

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px)
  .box
    position: fixed
    bottom: 0
    right: 24px
    z-index: 10
    width: 275px
    height: 100%
    background: white
    border-radius: 15px
    display: none
    box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
    -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)

    .top-box
      width: 100%
      height: 235px
      background: black
      border-top-left-radius: 15px
      border-top-right-radius: 15px
      padding: 20px 30px

      .chat-logo
        width: 20%

      h5
        color: white
        font-size: 2rem

      h6
        color: darkgrey

    .conversation-box
      padding: 10px 20px
      z-index: 15
      width: 90%
      height: 235px
      background: white
      box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
      -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
      -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
      position: absolute
      left: 5%
      bottom: 5%
      border-radius: 3px
      border-top-color: teal
      border-top-style: solid
      border-top-left-radius: 3px
      border-top-right-radius: 3px

      .one
        color: darkgray
        font-size: 16px

      .two
        color: black
        font-size: 16px

      .fa-paper-plane
        font-size: 14px

      a
        text-decoration: none
        color: teal
        &:hover
          text-decoration: none

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  .box
    position: fixed
    bottom: 20vh
    right: 24px
    z-index: 10
    width: 330px
    height: 480px
    background: white
    border-radius: 15px
    display: none
    box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
    -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)

    .top-box
      width: 100%
      height: 235px
      background: black
      border-top-left-radius: 15px
      border-top-right-radius: 15px
      padding: 20px 30px

      .chat-logo
        width: 20%

      h5
        color: white
        font-size: 2rem

      h6
        color: darkgrey

    .conversation-box
      padding: 20px 30px
      z-index: 15
      width: 90%
      height: 235px
      background: white
      box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
      -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
      -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75)
      position: absolute
      left: 5%
      bottom: 17%
      border-radius: 3px
      border-top-color: teal
      border-top-style: solid
      border-top-left-radius: 3px
      border-top-right-radius: 3px

      .one
        color: darkgray
        font-size: 16px

      .two
        color: black
        font-size: 16px

      .fa-paper-plane
        font-size: 14px

      a
        text-decoration: none
        color: teal
        &:hover
          text-decoration: none
