.bg-dark-teal
  background: RGBA(0, 0, 45, 0.5)

  .top-logo
    height: 65px

  .nav-link
    color: whitesmoke

//megamenu
nav
  .navbar-brand
    font-size: 30px
    padding-top: 0.3125rem
    padding-bottom: 0.3125rem

  .navbar-toggle
    margin: 13px 15px 13px 0

  a
    font-size: 18px
    padding-bottom: 10px !important
    padding-top: 10px !important
    transition: all 1.5s ease

nav.navbar.shrink
  min-height: 35px
  .navbar-brand
    font-size: 25px
  a
    font-size: 18px
    padding-bottom: 5px !important
    padding-top: 5px !important

  .navbar-toggle
    margin: 8px 15px 8px 0
    padding: 4px 5px

.dropdown-menu
  min-width: 200px
  z-index: 50

.dropdown-menu.columns-1
  min-width: 400px
  min-width: 600px
  opacity: 1
  top: 126%

.dropdown-menu li a
  padding: 5px 15px
  font-weight: 300

.multi-column-dropdown
  list-style: none
  margin: 0px
  padding: 0px

.multi-column-dropdown li a
  display: block
  clear: both
  line-height: 1.428571429
  font-weight: 500
  color: #666
  white-space: normal
  transition: .5s
  padding-bottom: 15px !important
  padding-top: 15px !important

.multi-column-dropdown li a:hover
  text-decoration: none
  color: teal

  .fas, .far
    transition: transform .5s
    transform: scale(1.25)

.form-inline
  #menu-1
    left: -8.5vw
  #menu-2
    left: -16.5vw

.navigation-wrap
  position: fixed
  width: 100%
  top: 0
  left: 0
  z-index: 1000
  -webkit-transition: all 0.3s ease-out
  transition: all 0.3s ease-out

.nav-link
  color: #212121 !important
  font-weight: 500
  transition: all 200ms linear
  position: relative
  padding: 5px 0 !important
  display: inline-block

//primary style
//=============
.bg-light
  background-color: #fff !important
  transition: all 200ms linear

.section
  position: relative
  width: 100%
  display: block

.full-height
  height: 100vh

.over-hide
  overflow: hidden

.absolute-center
  position: absolute
  top: 50%
  left: 0
  width: 100%
  margin-top: 40px
  transform: translateY(-50%)
  z-index: 20

h1
  font-size: 48px
  line-height: 1.2
  font-weight: 700
  color: #212112
  text-align: center

p
  text-align: center
  margin: 0
  padding-top: 10px
  opacity: 1
  transform: translate(0)
  transition: all 300ms linear
  transition-delay: 1700ms

.dropdown-menu
  padding: 10px !important
  margin: 0
  font-size: 13px
  letter-spacing: 1px
  color: #212121
  background-color: #EEE
  border: none
  border-radius: 3px
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15)
  transition: all 200ms linear
  overflow: hidden

.dropdown-toggle::after
  display: none

.dropdown-item
  padding: 3px 15px
  color: #212121
  border-radius: 2px
  transition: all 200ms linear

  &:hover, &:focus
    color: #fff
    background-color: rgba(129, 103, 169, 0.6)

a
  text-decoration: none
  &:hover
    text-decoration: none

.backBtn
  background-color: #2980b9
  font-size: 16px
  text-align: right

  &:hover
    color: #000

.menu-right .backBtn
  text-align: left

.menu
  border-right: 1px solid #2980b9
  background-color: #3498db
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  transition: all 0.3s ease
  position: fixed
  top: 0
  z-index: 10
  width: 280px
  height: 100%

  a
    display: block
    color: #fff
    padding: 16px
    border-top: 1px solid #2980b9
    text-decoration: none
    position: relative
    z-index: 11

    &:last-child
      border-bottom: 1px solid #2980b9

    &:hover, &:active
      background-color: #2980b9

.menu-right
  right: -280px
  &.right-open
    right: 0

.fa, .fas, .far
  font-size: 22px

.features
  padding-top: 15px !important
  padding-bottom: 15px !important

.single-menu
  padding-bottom: 0 !important

.display-none
  display: none

.display-block
  display: block

.btn-transparent
  background-color: transparent
  color: white
  padding-top: 15px
  padding-bottom: 15px
  cursor: pointer
  padding-right: 0.5rem
  padding-left: 0.5rem

  &:active
    border-style: none

.single-menu
  font-size: 1rem !important
  text-decoration: none
  &:hover
    text-decoration: none

.dropdown-4columns
  width: 500px

.navigation-wrap
  position: fixed
  width: 100%
  top: 0
  left: 0
  z-index: 1000
  -webkit-transition: all 0.3s ease-out
  transition: all 0.3s ease-out

.navbar
  padding: 0

.navbar-brand img
  height: 28px
  display: block

// animation for toggler
.navbar-toggler
  float: right
  border: none
  padding-right: 0

  &:active, &:focus
    outline: none

.navbar-light .navbar-toggler-icon
  width: 24px
  height: 17px
  background-image: none
  position: relative
  border-bottom: 1px solid white
  transition: all 300ms linear

  &:after, &:before
    width: 24px
    position: absolute
    height: 1px
    background-color: white
    top: 0
    left: 0
    content: ''
    z-index: 2
    transition: all 300ms linear

  &:after
    top: 8px

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon
  &:after
    transform: rotate(45deg)

  &:before
    transform: translateY(8px) rotate(-45deg)

  border-color: transparent
//end animation

// @media only screen and (max-width : 1024px)

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)


@media (max-width: 767.98px)
  .navbar-collapse
    position: fixed
    top: 85px
    left: 0
    padding-left: 15px
    padding-right: 15px
    padding-bottom: 15px
    width: 75%
    height: 100%
    background-color: white

  .navbar-collapse.collapsing
    left: -75%
    transition: height 0s ease

  .navbar-collapse.show
    left: 0
    transition: left 300ms ease-in-out

  .navbar-toggler.collapsed ~ .navbar-collapse
    transition: left 500ms ease-in-out

  .btn-transparent
    color: black
    padding-top: 15px
    padding-bottom: 15px
    cursor: pointer
    padding-right: 0.5rem
    padding-left: 0.5rem

    &:active
      border-style: none

    .customers, .manufacturing
      padding-left: 0

  .dropdown-menu.columns-1
    width: 100%
    min-width: 100%
    max-width: 100%
    overflow-y: scroll

@media (max-width: 575.98px)
  .navbar-collapse
    position: fixed
    top: 85px
    left: 0
    padding-left: 15px
    padding-right: 15px
    padding-bottom: 15px
    width: 75%
    height: 100%
    background-color: white

  .navbar-collapse.collapsing
    left: -75%
    transition: height 0s ease

  .navbar-collapse.show
    left: 0
    transition: left 300ms ease-in-out

  .navbar-toggler.collapsed ~ .navbar-collapse
    transition: left 500ms ease-in-out

  .btn-transparent
    color: black
    padding-top: 15px
    padding-bottom: 15px
    cursor: pointer
    padding-right: 0.5rem
    padding-left: 0.5rem

    &:active
      border-style: none

    .customers, .manufacturing
      padding-left: 0


  .dropdown-menu.columns-1
    width: 100%
    min-width: 100%
    max-width: 100%
    overflow-y: scroll
