<div class="navigation-wrap bg-dark-teal start-header start-style">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light pt-0 pb-0">
          <a class="navbar-brand" routerLink="">
            <img src="assets/griffinlogo.png" class="top-logo" alt="Griffin Logo">
          </a>


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <img src="assets/text.png" class="w-50" alt="Text">
            </ul>
            <form class="form-inline mt-2 mt-md-0">
              <ul class="navbar-nav">
                <div class="dropdown mr-3">
                  <li class="nav-item btn-transparent" data-toggle="dropdown">About Us &nbsp;<i class="fas fa-caret-down"></i></li>
                  <ul class="dropdown-menu multi-column columns-1 columns-2 pre-scrollable" id="menu-2">
                    <div class="row">
                      <div class="col-lg-6 col-md-12 col-12">
                        <ul class="multi-column-dropdown">
                          <li>
                            <a class="nav-links" routerLink="ceo-message">
                              <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                  <i class="far fa-sticky-note"></i>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                                  CEO's Message
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a class="nav-links" routerLink="corporate-statement">
                              <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                  <i class="fas fa-align-left"></i>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                                  Corporate Statements
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a class="nav-links" routerLink="corporate-information">
                              <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                  <i class="fas fa-industry"></i>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                                  Corporate Information
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a class="nav-links" routerLink="our-commitment">
                              <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                  <i class="fas fa-handshake"></i>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                                  Our Commitment
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-12 col-12">
                        <ul class="multi-column-dropdown">
                          <li>
                            <a class="nav-links" routerLink="about-us">
                              <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                  <i class="fas fa-info-circle"></i>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                                  About US
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a class="nav-links" routerLink="our-vision-and-mission">
                              <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                  <i class="fas fa-eye"></i>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                                  Vision & Mission
                                </div>
                              </div>
                            </a>
                          </li>
                          <li class="last-menu">
                            <a class="nav-links" routerLink="contact">
                              <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                  <i class="far fa-id-badge"></i>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                                  Contact Us
                                </div>
                              </div>
                            </a>
                          </li>
                          <li class="last-menu">
                            <a class="nav-links" routerLink="gallery">
                              <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                  <i class="far fa-images"></i>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                                  Gallery
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ul>
                </div>

                <div class="dropdown mr-3">
                  <li class="nav-item btn-transparent" data-toggle="dropdown">ISO & Certificates &nbsp;<i class="fas fa-caret-down"></i></li>
                  <ul class="dropdown-menu multi-column columns-1 columns-2 pre-scrollable" id="menu-2">
                    <div class="row">
                      <div class="col-lg-6 col-md-12 col-12">
                        <ul class="multi-column-dropdown">
                          <li>
                            <a class="nav-links" routerLink="iso-standard-and-social-compliance">
                              <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                  <i class="fas fa-globe"></i>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-10 pr-0">
                                  ISO Standard & Social Compliance
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-12 col-12">
                        <ul class="multi-column-dropdown">
                          <li class="last-menu2">
                            <a class="nav-links" routerLink="recognition-certifiation">
                              <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                  <i class="fas fa-certificate"></i>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-10 pr-0">
                                  Recognition Certification
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ul>
                </div>

                <li class="nav-item btn-transparent">
                  <a routerLink="trainings" class="nav-item single-menu customers btn-transparent" routerLinkActive="active">Trainings</a>
                </li>

                <li class="nav-item btn-transparent">
                  <a routerLink="customers" class="nav-item single-menu customers btn-transparent" routerLinkActive="active">Customers</a>
                </li>

                <li class="nav-item btn-transparent">
                  <a routerLink="customers" class="nav-item single-menu manufacturing btn-transparent">Manufacturing</a>
                </li>
              </ul>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
