<div class="container mt-7 mb-5">
  <h4 class="mt-5 mb-3 font-weight-bold"><i class="fas fa-user-secret"></i> Our Speaker</h4>
  <h5 class="speaker">
    Prof. Dr. Malik
  </h5>
  <h6>A prominent Corporate
    Personality cum
    Academician</h6>
  <h6>
    Doctorate in Philosophy
    Majoring in Strategic
    Marketing (Halal Industry
    Development) from the
    Central State University of
    New York
  </h6>

  <div class="card mt-5">
    <div class="card-body">
      <h4 class="mb-3 font-weight-bold">What you'll learn</h4>
      <ul class="checklist-ul">
        <li *ngFor="let item of contents">
          <h6 class="mb-3">
            {{item.content}}
          </h6>
        </li>
      </ul>
    </div>
  </div>
  <h4 class="mt-5 mb-3 font-weight-bold"><i class="fas fa-stream"></i> Training Content</h4>
  <div class="card">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item pl-0 pr-0" *ngFor="let item of training">{{item.detail}}</li>
      </ul>
    </div>
  </div>
  <div class="qr-code mt-5">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-2 col-md-4 col-sm-4 col-5 pr-0">
          <img src="assets/qr-code/halal-awarness.png" class="w-100" alt="Halal Awarness QR Program">
        </div>
      </div>
    </div>
  </div>
</div>
