<div class="container mt-7 mb-5">
  <div class="card mt-5">
    <div class="card-body">
      <h4 class="mb-3 font-weight-bold">What you'll learn</h4>
      <ul class="checklist-ul">
        <li *ngFor="let item of contents">
          <h6 class="mb-3">
            {{item.content}}
          </h6>
        </li>
      </ul>
    </div>
  </div>

  <div class="qr-code mt-5">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-2 col-md-4 col-sm-4 col-5 pr-0">
          <img src="assets/qr-code/speaking-for-success.png" class="w-100" alt="speaking-for-success QR Program">
        </div>
      </div>
    </div>
  </div>
</div>
