.image-mt
  margin-top: 7rem

.bg-teal
  background-color: teal

.btn-white
  background-color: white
  color: teal
  font-weight: 600

.color-teal
  color: teal

.btn-try, .btn-start-now
  transition: transform .2s
  &:hover
    transform: scale(1.05)

h3
  font-size: 1.75em
  font-weight: 600

h6
  line-height: 3vh
  color: #666

.mt-7
  margin-top: 7em

.text-black
  color: black

.flipPreview
  animation-name: flip
  animation-duration: 1s
  animation-delay: 2s
  animation-timing-function: ease
  animation-iteration-count: 2
  animation-direction: alternate

@keyframes flip
  from
    transform: rotateY(0deg)
  to
    transform: rotateY(180deg)

.flip-container
  width: 100%
  height: 300px

  .card
    width: 100%
    height: 100%

.flip-container
  perspective: 1000px

  &:hover .flip
    transform: rotateY(180deg)

  .flip
    width: 100%
    height: 100%

  .flip
    transition: 0.6s
    transform-style: preserve-3d
    position: relative

    .flip-front
      z-index: 2
      transform: rotateY(0deg)

    .flip-back
      transform: rotateY(180deg)

    .flip-front,
    .flip-back
      backface-visibility: hidden
      position: absolute
      top: 0
      left: 0

.link
  text-decoration: none
  color: black
  &:hover
    text-decoration: none

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  .box
    overflow-x: auto
    width: 100%


//certificate
.image-mt
  margin-top: 7rem

.bg-teal
  background-color: teal

.btn-white
  background-color: white
  color: teal
  font-weight: 600

.color-teal
  color: teal

.btn-try, .btn-start-now
  transition: transform .2s
  &:hover
    transform: scale(1.05)

h3
  font-size: 1.75em
  font-weight: 600

h6
  line-height: 3vh
  color: #666

.mt-7
  margin-top: 7em

.text-black
  color: black

.dot
  height: 65px
  width: 65px
  background-color: teal
  border-radius: 50%
  display: inline-block
  color: white

.fas, .fab
  padding-top: 15px

.fa-tasks
  padding: 15px
