<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col col-lg-3 image-mt">
      <img src="assets/images/commitment.png" alt="Our Commitment Image">
    </div>
  </div>

  <h6 class="justify-text mt-5">
    To archieve your ultimate result,  our programs extends beyond the training room. We roll our sleeves in hand with you to :
  </h6>

  <ul class="timeline">
    <li>
      <div class="timeline-badge success">
        <i class="fas fa-book-reader"></i>
      </div>
      <div class="timeline-panel" data-aos="fade-right">
        <div class="timeline-heading">
          <h5 class="timeline-title mb-0">Understand your business and development needs</h5>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge primary">
        <i class="fas fa-chart-line"></i>
      </div>
      <div class="timeline-panel" data-aos="fade-left">
        <div class="timeline-heading">
          <h5 class="timeline-title mb-0">Design and develop initiative by delivering high impact training interventions</h5>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge success">
        <i class="fas fa-hands-helping"></i>
      </div>
      <div class="timeline-panel" data-aos="fade-right">
        <div class="timeline-heading">
          <h5 class="timeline-title mb-0">Implement powerful reinforcement programs</h5>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge primary">
        <i class="fas fa-chart-bar"></i>
      </div>
      <div class="timeline-panel" data-aos="fade-left">
        <div class="timeline-heading">
          <h5 class="timeline-title mb-0">Track and measure your effort, performance and results for continuous improvement</h5>
        </div>
      </div>
    </li>
  </ul>
  <!-- <div data-aos="fade-right">
    <p data-aos="fade-right">Understand your business and development needs</p>
    <p data-aos="fade-left">Design and develop initiative by delivering high impact training interventions</p>
    <p data-aos="fade-right">Implement powerful reinforcement programs</p>
    <p data-aos="fade-left">Track and measure your effort, performance and results for continuous improvement</p>
  </div> -->
</div>
