<div class="container">
  <div id="contact-us">
    <!-- show on xl and lg -->
    <div class="d-none d-lg-block d-xl-block mt-3 show-large">
      <div class="row justify-content-lg-center">
        <div class="col col-lg-4 image-mt">
          <img src="assets/images/contact.png" class="w-100" alt="Contact Image">
        </div>
      </div>
      <h5 class="text-center font-black mt-5">Don't be shy, ask the Griffin Solution</h5>
      <hr>
      <div class="col-lg-12 mt-5">
        <div class="row">
          <div class="col-lg-3">
            <div class="row">
              <div class="col-lg-2">
                <i class="fas fa-map-marker-alt fa-2x"></i>
              </div>
              <div class="col-lg-10">
                <p class="contact-content">HQ</p>
                <p class="mb-0 font-weight-600 color-teal">
                  No.37, Jalan lombong Emas 5,
                  Taman Industri Ringan Seremban,
                  Jalan Tun Dr Ismail,70200 Seremban,
                  Malaysia
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="row">
              <div class="col-lg-2">
                <i class="fas fa-map-pin fa-2x"></i>
              </div>
              <div class="col-lg-10">
                <p class="contact-content">Sales</p>
                <p class="mb-0 font-weight-600 color-teal">
                  27-2 Tower A,The Vertical,
                  Bangsar South,Jalan Kerinchi,
                  59200 Kuala Lumpur,
                  Malaysia
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="row">
              <div class="col-lg-2">
                <i class="fas fa-mobile-alt fa-2x"></i>
              </div>
              <div class="col-lg-10">
                <p class="contact-content">Telephone</p>
                <p class="mb-0 font-weight-600 color-teal">
                  +6 06 767 9786
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 last">
            <div class="row">
              <div class="col-lg-2">
                <i class="fas fa-fax fa-2x"></i>
              </div>
              <div class="col-lg-10">
                <p class="contact-content">Fax.</p>
                <p class="mb-0 font-weight-600 color-teal">
                  +6 06 763 8966
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="row">
          <div class="col-lg-3">
            <div class="row">
              <div class="col-lg-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-lg-10">
                <p class="contact-content">Operation</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:training@griffinsolution.com">Operation</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="row">
              <div class="col-lg-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-lg-10">
                <p class="contact-content">Admin</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:admin1@griffinsolution.com">Admin</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="row">
              <div class="col-lg-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-lg-10">
                <p class="contact-content">Sales & Marketing</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:esha@griffinsolution.com">Sales & Marketing</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 last">
            <div class="row">
              <div class="col-lg-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-lg-10">
                <p class="contact-content">Training Consultant</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:aaqil@griffinsolution.com">Sales & Marketing</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="row justify-content-md-center text-center">
          <div class="col col-lg-2">
              <i class="fas fa-globe fa-2x"></i>
              <div class="contact-content">Website</div>
              <a href="griffinsolution.com">griffinsolution.com</a>
          </div>
          <div class="col col-lg-2">
              <i class="fab fa-instagram fa-2x"></i>
              <div class="contact-content">Instagram</div>
              <a href="https://www.instagram.com/griffin_solution">Griffin_Solution</a>
          </div>
          <div class="col col-lg-2">
              <i class="fab fa-facebook-square fa-2x"></i>
              <div class="contact-content">Facebook</div>
              <a href="https://www.facebook.com/griffin.solutionn">Griffin Solution Plt</a>
          </div>
        </div>
      </div>
    </div>
    <!-- show only on md -->
    <div class="d-none d-md-block d-lg-none">
      <div class="row justify-content-md-center">
        <div class="col col-md-4 image-mt">
          <img src="assets/images/contact.png" class="w-100" alt="Contact Image">
        </div>
      </div>
      <h5 class="text-center font-black mt-5">Don't be shy, ask the Griffin Solution</h5>
      <hr>
      <div class="col-md-12 mt-5">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2">
                <i class="fas fa-map-marker-alt fa-2x"></i>
              </div>
              <div class="col-md-10">
                <p class="contact-content">HQ</p>
                <p class="mb-0 font-weight-600 color-teal">
                  No.37, Jalan lombong Emas 5,
                  Taman Industri Ringan Seremban,
                  Jalan Tun Dr Ismail,70200 Seremban,
                  Malaysia
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2">
                <i class="fas fa-map-pin fa-2x"></i>
              </div>
              <div class="col-md-10">
                <p class="contact-content">Sales</p>
                <p class="mb-0 font-weight-600 color-teal">
                  27-2 Tower A,The Vertical,
                  Bangsar South,Jalan Kerinchi,
                  59200 Kuala Lumpur,
                  Malaysia
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-5">
            <div class="row">
              <div class="col-md-2">
                <i class="fas fa-mobile-alt fa-2x"></i>
              </div>
              <div class="col-md-10">
                <p class="contact-content">Telephone</p>
                <p class="mb-0 font-weight-600 color-teal">
                  +6 06 767 9786
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-5 last">
            <div class="row">
              <div class="col-md-2">
                <i class="fas fa-fax fa-2x"></i>
              </div>
              <div class="col-md-10">
                <p class="contact-content">Fax.</p>
                <p class="mb-0 font-weight-600 color-teal">
                  +6 06 763 8966
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-5">
        <div class="row">
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-md-10">
                <p class="contact-content">Operation</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:training@griffinsolution.com">Operation</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-md-10">
                <p class="contact-content">Admin</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:admin1@griffinsolution.com">Admin</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-md-10">
                <p class="contact-content">Sales & Marketing</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:esha@griffinsolution.com">Sales & Marketing</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 last">
            <div class="row">
              <div class="col-md-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-md-10">
                <p class="contact-content">Training Consultant</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:aaqil@griffinsolution.com">Sales & Marketing</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-5">
        <div class="row justify-content-md-center text-center">
          <div class="col col-md-4">
              <i class="fas fa-globe fa-2x"></i>
              <div class="contact-content">Website</div>
              <a href="griffinsolution.com">griffinsolution.com</a>
          </div>
          <div class="col col-md-4">
              <i class="fab fa-instagram fa-2x"></i>
              <div class="contact-content">Instagram</div>
              <a href="https://www.instagram.com/griffin_solution">Griffin_Solution</a>
          </div>
          <div class="col col-md-4">
              <i class="fab fa-facebook-square fa-2x"></i>
              <div class="contact-content">Facebook</div>
              <a href="https://www.facebook.com/griffin.solutionn">Griffin Solution Plt</a>
          </div>
        </div>
      </div>
    </div>
    <!-- show only on sm -->
    <div class="d-none d-sm-block d-md-none">
      <div class="row justify-content-sm-center">
        <div class="col col-sm-6 image-mt">
          <img src="assets/images/contact.png" class="w-100" alt="Contact Image">
        </div>
      </div>
      <h5 class="text-center font-black mt-5">Don't be shy, ask the Griffin Solution</h5>
      <hr>
      <div class="col-sm-12 mt-5">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-2">
                <i class="fas fa-map-marker-alt fa-2x"></i>
              </div>
              <div class="col-sm-10">
                <p class="contact-content">HQ</p>
                <p class="mb-0 font-weight-600 color-teal">
                  No.37, Jalan lombong Emas 5,
                  Taman Industri Ringan Seremban,
                  Jalan Tun Dr Ismail,70200 Seremban,
                  Malaysia
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-2">
                <i class="fas fa-map-pin fa-2x"></i>
              </div>
              <div class="col-sm-10">
                <p class="contact-content">Sales</p>
                <p class="mb-0 font-weight-600 color-teal">
                  27-2 Tower A,The Vertical,
                  Bangsar South,Jalan Kerinchi,
                  59200 Kuala Lumpur,
                  Malaysia
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mt-5">
            <div class="row">
              <div class="col-sm-2">
                <i class="fas fa-mobile-alt fa-2x"></i>
              </div>
              <div class="col-sm-10">
                <p class="contact-content">Telephone</p>
                <p class="mb-0 font-weight-600 color-teal">
                  +6 06 767 9786
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mt-5 last">
            <div class="row">
              <div class="col-sm-2">
                <i class="fas fa-fax fa-2x"></i>
              </div>
              <div class="col-sm-10">
                <p class="contact-content">Fax.</p>
                <p class="mb-0 font-weight-600 color-teal">
                  +6 06 763 8966
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mt-5">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-sm-10">
                <p class="contact-content">Operation</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:training@griffinsolution.com">Operation</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-sm-10">
                <p class="contact-content">Admin</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:admin1@griffinsolution.com">Admin</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mt-5">
            <div class="row">
              <div class="col-sm-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-sm-10">
                <p class="contact-content">Sales & Marketing</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:esha@griffinsolution.com">Sales & Marketing</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mt-5 last">
            <div class="row">
              <div class="col-sm-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-sm-10">
                <p class="contact-content">Training Consultant</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:aaqil@griffinsolution.com">Sales & Marketing</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mt-5">
        <div class="row justify-content-md-center text-center">
          <div class="col col-sm-12 mb-4">
              <i class="fas fa-globe fa-2x"></i>
              <div class="contact-content">Website</div>
              <a href="griffinsolution.com">griffinsolution.com</a>
          </div>
          <div class="col col-sm-12 mb-4">
              <i class="fab fa-instagram fa-2x"></i>
              <div class="contact-content">Instagram</div>
              <a href="https://www.instagram.com/griffin_solution">Griffin_Solution</a>
          </div>
          <div class="col col-sm-12">
              <i class="fab fa-facebook-square fa-2x"></i>
              <div class="contact-content">Facebook</div>
              <a href="https://www.facebook.com/griffin.solutionn">Griffin Solution Plt</a>
          </div>
        </div>
      </div>
    </div>
    <!-- show only on xs -->
    <div class="d-block d-sm-none">
      <div class="row justify-content-center">
        <div class="col col-6 image-mt">
          <img src="assets/images/contact.png" class="w-100" alt="Contact Image">
        </div>
      </div>
      <h5 class="text-center font-black mt-5">Don't be shy, ask the Griffin Solution</h5>
      <hr>
      <div class="col-12 mt-5">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-map-marker-alt fa-2x"></i>
              </div>
              <div class="col-10">
                <p class="contact-content">HQ</p>
                <p class="mb-0 font-weight-600 color-teal">
                  No.37, Jalan lombong Emas 5,
                  Taman Industri Ringan Seremban,
                  Jalan Tun Dr Ismail,70200 Seremban,
                  Malaysia
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 mt-5">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-map-pin fa-2x"></i>
              </div>
              <div class="col-10">
                <p class="contact-content">Sales</p>
                <p class="mb-0 font-weight-600 color-teal">
                  27-2 Tower A,The Vertical,
                  Bangsar South,Jalan Kerinchi,
                  59200 Kuala Lumpur,
                  Malaysia
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 mt-5">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-mobile-alt fa-2x"></i>
              </div>
              <div class="col-10">
                <p class="contact-content">Telephone</p>
                <p class="mb-0 font-weight-600 color-teal">
                  +6 06 767 9786
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 mt-5 last">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-fax fa-2x"></i>
              </div>
              <div class="col-10">
                <p class="contact-content">Fax.</p>
                <p class="mb-0 font-weight-600 color-teal">
                  +6 06 763 8966
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-5">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-10">
                <p class="contact-content">Operation</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:training@griffinsolution.com">Operation</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 mt-5">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-10">
                <p class="contact-content">Admin</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:admin1@griffinsolution.com">Admin</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 mt-5">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-10">
                <p class="contact-content">Sales & Marketing</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:esha@griffinsolution.com">Sales & Marketing</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 mt-5 last">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-envelope-open-text fa-2x"></i>
              </div>
              <div class="col-10">
                <p class="contact-content">Training Consultant</p>
                <p class="mb-0 font-weight-600 color-teal">
                  <a href="mailto:aaqil@griffinsolution.com">Sales & Marketing</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-5">
        <div class="row justify-content-md-center text-center">
          <div class="col col-12 mb-4">
              <i class="fas fa-globe fa-2x"></i>
              <div class="contact-content">Website</div>
              <a href="griffinsolution.com">griffinsolution.com</a>
          </div>
          <div class="col col-12 mb-4">
              <i class="fab fa-instagram fa-2x"></i>
              <div class="contact-content">Instagram</div>
              <a href="https://www.instagram.com/griffin_solution">Griffin_Solution</a>
          </div>
          <div class="col col-12">
              <i class="fab fa-facebook-square fa-2x"></i>
              <div class="contact-content">Facebook</div>
              <a href="https://www.facebook.com/griffin.solutionn">Griffin Solution Plt</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
