.image-mt
  margin-top: 7rem

.bg-teal
  background-color: teal

.btn-white
  background-color: white
  color: teal
  font-weight: 600

.color-teal
  color: teal

.btn-try, .btn-start-now
  transition: transform .2s
  &:hover
    transform: scale(1.05)

h3, h5
  color: white

h3
  font-size: 1.75em
  font-weight: 600

h5
  font-size: 1.5em

h6
  line-height: 3vh
  color: #666

.contact-content
  font-weight: bold
  margin-bottom: 0

.font-weight-600
  font-weight: 600

.col-lg-3
  border-right-style: inset

.last
  border-right-style: none

a
  text-decoration: none
  font-weight: 600
  color: teal

  &:hover
    text-decoration: wavy

.font-black
  color: black
