.image-mt
  margin-top: 7em

.container
  margin-top: 7em
// .container-fluid
//   img
//     height: 55vh
//     object-fit: cover

.bg-teal
  background-color: teal

.btn-white
  background-color: white
  color: teal
  font-weight: 600

.color-teal
  color: teal

.btn-try, .btn-start-now
  transition: transform .2s
  &:hover
    transform: scale(1.05)

h3, h5
  color: white

h3
  font-size: 1.75em
  font-weight: 600

h5
  font-size: 1.5em

h6
  color: #666
  line-height: normal

.justify-text
  text-align: justify

.text-black
  color: black

// .header-text
//   position: absolute
//   left: 45%
//   top: 50%
//   color: white
//   font-size: 2rem

.container_foto
  // background-color: rgba(57, 62, 93, 0.7)
  padding: 0
  overflow: hidden
  max-width: 350px
  margin: 5px

  &:hover
    cursor: pointer

    img
      opacity: 0.7
      // transform: scale(1.5)

    article
      transform: translate(2px, -69px)
      -webkit-transform: translate(2px, -69px)
      -moz-transform: translate(2px, -69px)
      -o-transform: translate(2px, -69px)
      -ms-transform: translate(2px, -69px)

    .ver_mas
      transform: translate(0px, 0px)
      -webkit-transform: translate(0px, 0px)
      -moz-transform: translate(0px, 0px)
      -o-transform: translate(0px, 0px)
      -ms-transform: translate(0px, 0px)
      opacity: 1

  article
    padding: 10%
    position: absolute
    bottom: 0
    z-index: 1
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    -ms-transition: all 0.5s ease
    transition: all 0.5s ease

  h2
    color: #fff
    font-weight: 800
    font-size: 25px
    border-bottom: #fff solid 1px

  h4
    font-weight: 300
    color: #fff
    font-size: 16px

  // img
  //   width: 100%
  //   top: 0
  //   left: 0
  //   opacity: 0.4
  //   -webkit-transition: all 4s ease
  //   -moz-transition: all 4s ease
  //   -o-transition: all 4s ease
  //   -ms-transition: all 4s ease
  //   transition: all 4s ease

  .ver_mas
    background-color: teal
    position: absolute
    width: 100%
    height: 48px
    bottom: 0
    z-index: 1
    opacity: 0
    transform: translate(0px, 70px)
    -webkit-transform: translate(0px, 70px)
    -moz-transform: translate(0px, 70px)
    -o-transform: translate(0px, 70px)
    -ms-transform: translate(0px, 70px)
    -webkit-transition: all 0.5s ease-in-out
    -moz-transition: all 0.5s ease-in-out
    -o-transition: all 0.5s ease-in-out
    -ms-transition: all 0.5s ease-in-out
    transition: all 0.5s ease-in-out

    span
      font-size: 40px
      color: #fff
      position: relative
      margin: 0 auto
      width: 100%
      top: 13px

    a
      &:hover
        text-decoration: none

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  .bg-teal
    h3
      text-align: center
  .image-mt
    margin-top: 5.4em !important

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px)
  .image-mt
    margin-top: 7.5em
