

<div class="container">
  <h5 class="text-center text-black">Available Programs :</h5>
  <hr>
  <h6 class="justify-text mt-5" data-aos="fade-right">
    The COVID-19 outbreak has taken a toll on everyone, especially training providers who are now cooped up at home and unable to meet clients face to face. However, there is always a way to make the best out of the situation.Griffin are providing exclusive Webinar program to you, as we have categorized it into 2 Skills Development :
    <ul>
      <li>
        a) Soft Skills & Technical Skills <br>
        Griffin Solution PLT is moving forward in this New Norm approach and to reach up all our valuable clients. Currently 16  Approved training programs under SBL KHAS Scheme.
        We are looking forward to your organization & asset employees to join our exclusive program in this New Norm era.
        Below is the List of programs that have been approved under SBL KHAS. Please go through and you may fill in the google form/Jotform to choose the program for your organization.
      </li>
    </ul>
  </h6>
  <div class="row mt-5">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto">
      <img src="assets/programs-page/5 CORE TOOLS FOR ISO IATF 16949 2016.png" alt="5 CORE TOOLS FOR ISO IATF 16949 2016" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto">
      <img src="assets/programs-page/CISCO NETWORK ASSOCIATE (FAST TRACK).png" alt="CISCO NETWORK ASSOCIATE (FAST TRACK)" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto">
      <img src="assets/programs-page/COLLECTIVE BARGAINING & AGREEMENT.png" alt="COLLECTIVE BARGAINING & AGREEMENT" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto mt-4">
      <img src="assets/programs-page/CONVERSATIONAL MANDARIN PROGRAMME (2).png" alt="CONVERSATIONAL MANDARIN PROGRAMME (2)" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto mt-4">
      <img src="assets/programs-page/EFFECTIVE WAREHOUSE MANAGEMENT, OPERATION AND CONTROL.png" alt="EFFECTIVE WAREHOUSE MANAGEMENT, OPERATION AND CONTROL" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto mt-4">
      <img src="assets/programs-page/EFFECTIVENESS OF TRAIN THE TRAINERS.png" alt="EFFECTIVENESS OF TRAIN THE TRAINERS" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto mt-4">
      <img src="assets/programs-page/EMPLOYMENT ACT 1955.png" alt="EMPLOYMENT ACT 1955" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto mt-4">
      <img src="assets/programs-page/LEADERS@WORK (LEADING FOR PERFORMANCE IN THE 21ST CENTURY).png" alt="LEADERS@WORK (LEADING FOR PERFORMANCE IN THE 21ST CENTURY)" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto mt-4">
      <img src="assets/programs-page/PLANNING & ORGANISING WORKSHOP.png" alt="PLANNING & ORGANISING WORKSHOP" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto mt-4">
      <img src="assets/programs-page/PRESENT LIKE A PRO WITH NLP.png" alt="PRESENT LIKE A PRO WITH NLP" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto mt-4">
      <img src="assets/programs-page/PROBLEM SOLVING AND DECISION MAKING.png" alt="PROBLEM SOLVING AND DECISION MAKING" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto mt-4">
      <img src="assets/programs-page/PROJECT MANAGEMENT.png" alt="PROJECT MANAGEMENT" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto mt-4">
      <img src="assets/programs-page/RF PRINCIPLES, TECHNIQUES & DIAGNOSIS ON ETCH AND DEPOSITION.png" alt="RF PRINCIPLES, TECHNIQUES & DIAGNOSIS ON ETCH AND DEPOSITION" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto mt-4">
      <img src="assets/programs-page/SAFETY & HEALTH AWARENESS MOTIVATION TOWARDS OSHA 18001.png" alt="SAFETY & HEALTH AWARENESS MOTIVATION TOWARDS OSHA 18001" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 container_foto mt-4">
      <img src="assets/programs-page/THE JOURNEY TO HO-REN-SO.png" alt="THE JOURNEY TO HO-REN-SO.png" class="w-100">
      <div class="ver_mas text-center">
        <a href="https://form.jotform.com/210308483956460" target="_blank">
          <button type="button" class="btn btn-outline-info btn-block btn-lg rounded-0">Register Now</button>
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-12 pl-0 pr-0 mt-5">
    <div class="card text-white bg-teal">
      <div class="card-body p-4">
        <div class="row">
          <div class="col-lg-8" data-aos="fade-right">
            <h3 class="text-center">Start 30-Day FREE Trial.</h3>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-white btn-block btn-try" data-aos="fade-left">TRY FOR FREE NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
