<div class="container">
  <h5 class="image-mt mb-5">Vision and Mission</h5>
  <h6 class="font-weight-bold">Vision</h6>
  <h6 class="justify-text mt-2" data-aos="fade-right">
    <!-- To be the leader in human capital development by providing tailor made training and consultancy programs that meets customer requirement. -->
    Our vision is to assume a leadership position in the through people empowerment
  </h6>

  <h6 class="mt-5 font-weight-bold">Mission</h6>
  <ul>
    <li>To strive towards total customer satisfaction</li>
    <li>To maximize quality, affordability and reliability</li>
    <li>To ensure prompt delivery</li>
    <li>To develop a mutually profitable client  relationship</li>
    <li>To alleviate productivity through better customer</li>
  </ul>
  <!-- <h6 class="justify-text mt-2" data-aos="fade-right">
    Our mission is to ensure that all the training and development activity which we undertake will have a positive impact on the future performance on our client business.
    We will provide inspiring training that motivates individual to archieve their full potensial by helping our clients to archieve their corporate goals.
  </h6> -->
</div>
