.image-mt
  margin-top: 7rem

h5
  text-align: center
  font-weight: bold

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  h6
    color: #666
    line-height: normal
    line-height: 25px
    text-align: justify

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px)
  h6
    color: #666
    line-height: normal
    line-height: 25px
    text-align: justify

.container
  height: 60vh
