.image-mt
  margin-top: 7rem

.bg-teal
  background-color: teal

.btn-white
  background-color: white
  color: teal
  font-weight: 600

.color-teal
  color: teal

.mt-7
  margin-top: 7em

//accordion
.myaccordion
  box-shadow: 0 0 1px rgba(0,0,0,0.1)

.myaccordion .card,
.myaccordion .card:last-child .card-header
  border: none

.myaccordion .card-header
  border-bottom-color: #EDEFF0
  background: transparent

.myaccordion .fa-stack
  font-size: 18px

.myaccordion .btn
  width: 100%
  font-weight: bold
  color: #004987
  padding: 0

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus
  text-decoration: none

.myaccordion li + li
  margin-top: 10px

.checklist-ul
  list-style-type: none
  padding: 0
  li
    padding: 0 0 0 25px
    position: relative
    margin-bottom: 5px
    &:before
      position: absolute
      left: 5px
      content: "\2713"
      color: #666

.speaker
  text-decoration: underline
  font-weight: bold
