<div class="container mt-7 mb-5">
  <div class="col-lg-12 col-12">
    <blockquote class="text-center">"{{randomQuote.quote}}"</blockquote>
    <p class="text-center">{{randomQuote.from}}</p>
  </div>

  <h5 class="text-center mt-5">Soft Skill Training</h5>
  <div id="industrial-base-training">
    <!-- show on xl and lg -->
    <div class="d-none d-lg-block d-xl-block mt-3 show-large">
      <div class="row mt-5">
        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/blue-ocean-strategy-program">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-water fa-2x"></i>
              </span>
              <br>
              Blue Ocean Strategy Program
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/design-thinking-workshop">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-drafting-compass fa-2x"></i>
              </span>
              <br>
              Design Thinking Workshop
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/effective-bussiness-english-writing">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-paragraph fa-2x"></i>
              </span>
              <br>
              Effective Business English Writing for Higher Productivity
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/effective-disciplinary-management-on-misconduct">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-tasks fa-2x"></i>
              </span>
              <br>
              Effective Disciplinary Management on Misconduct
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/kanban-inventory-demand-management">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-chart-line fa-2x"></i>
              </span>
              <br>
              Kanban Inventory & Demand Management
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/managing-emotional-intelligence">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-brain fa-2x"></i>
              </span>
              <br>
              Managing Emotional Intelligence
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/planning-and-organizing-workshop">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-clipboard-list fa-2x"></i>
              </span>
              <br>
              Planning & organizing Workshop
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/positive-working-attitude-for-peak-performance">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-user-clock fa-2x"></i>
              </span>
              <br>
              Positive Working Attitude for Peak Performance & Time Management & Work Productivity U.B.A.H
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/productive-supervisory-skills">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-user-tie fa-2x"></i>
              </span>
              <br>
              Productive Supervisory Skills
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/sharepoint-365-end-user-training">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fab fa-microsoft fa-2x"></i>
              </span>
              <br>
              Sharepoint for Office 365 End User Training
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/speaking-for-success">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-user-tie fa-2x"></i>
              </span>
              <br>
              Speaking for Success
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/story-telling-for-influence-and-communication-skills">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-hat-wizard fa-2x"></i>
              </span>
              <br>
              Story Telling for Influence and Communication Skills
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/the-new-u-in-organization">
            <div data-aos="fade-up" data-aos-duration="3000">
              <span class="dot mb-2">
                <i class="fas fa-sitemap fa-2x"></i>
              </span>
              <br>
              The New "U" in Organization
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/unleash-your-potential">
            <div data-aos="fade-up" data-aos-duration="3000">
              <span class="dot mb-2">
                <i class="far fa-lightbulb fa-2x"></i>
              </span>
              <br>
              Unleash Your Potential
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/soft-skill-training/detail/wellness-at-work">
            <div data-aos="fade-up" data-aos-duration="3000">
              <span class="dot mb-2">
                <i class="far fa-thumbs-up fa-2x"></i>
              </span>
              <br>
              Wellness at Work! Integrated Health Promotion System
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- show only on md -->
    <div class="d-none d-md-block d-lg-none">
      <div class="row mt-5">
        <div class="col-md-3 text-center">
          <a routerLink="/soft-skill-training/detail/trademark-program">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-2x fa-trademark"></i>
              </span>
              <br>
              Trademark Program by <br>
              Griffin Solution Plt
            </div>
          </a>
        </div>

        <div class="col-md-3 text-center">
          <a routerLink="/soft-skill-training/detail/management">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-2x fa-tasks"></i>
              </span>
              <br>
              Management
            </div>
          </a>
        </div>

        <div class="col-md-3 text-center">
          <a routerLink="/soft-skill-training/detail/leadership-pipeline-programs">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-2x fa-user-ninja"></i>
              </span>
              <br>
              Leadership Pipeline Programs
            </div>
          </a>
        </div>

        <div class="col-md-3 text-center">
          <a routerLink="/soft-skill-training/detail/communication-hr-training-programs">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-2x fa-phone-square"></i>
              </span>
              <br>
              Communication and Human
              Relations Training Programs
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-3 text-center">
          <a routerLink="/soft-skill-training/detail/managing-training-and-trainer-programs">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-user-cog fa-2x"></i>
              </span>
              <br>
              Managing Training
              and Trainer Programs
            </div>
          </a>
        </div>

        <div class="col-md-3 text-center">
          <a routerLink="/soft-skill-training/detail/team-building">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-users fa-2x"></i>
              </span>
              <br>
              Team Building
            </div>
          </a>
        </div>

        <div class="col-md-3 text-center">
          <a routerLink="/soft-skill-training/detail/employee-development">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-user-check fa-2x"></i>
              </span>
              <br>
              Employee Development
            </div>
          </a>
        </div>

        <div class="col-md-3 text-center">
          <a routerLink="/soft-skill-training/detail/hrd-and-industrial-relations">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-fingerprint fa-2x"></i>
              </span>
              <br>
              Human Resource Development
              and Industrial Relations programs
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-3 text-center">
          <a routerLink="/soft-skill-training/detail/managerial-and-executive-development">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-user-tie fa-2x"></i>
              </span>
              <br>
              Managerial and Executive
              Development Programs
            </div>
          </a>
        </div>

        <div class="col-md-3 text-center">
          <a routerLink="/soft-skill-training/detail/supervisory-development-programs">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-user-shield fa-2x"></i>
              </span>
              <br>
              Supervisory
              Development Programs
            </div>
          </a>
        </div>

        <div class="col-md-3 text-center">
          <a routerLink="/soft-skill-training/detail/language-programs">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-language fa-2x"></i>
              </span>
              <br>
              Language Programs
            </div>
          </a>
        </div>

        <div class="col-md-3 text-center">
          <a routerLink="/soft-skill-training/detail/sales-and-marketing-programs">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-ad fa-2x"></i>
              </span>
              <br>
              Sales and Marketing
              Programs
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-3 text-center">
          <a routerLink="/soft-skill-training/detail/financial-management-programs">
            <div data-aos="fade-up" data-aos-duration="3000">
              <span class="dot mb-2">
                <i class="fas fa-dollar-sign fa-2x"></i>
              </span>
              <br>
              Financial
              Management Programs
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- show only on sm -->
    <div class="d-none d-sm-block d-md-none">
      <div class="row mt-5">
        <div class="col-sm-4 text-center">
          <a routerLink="/soft-skill-training/detail/trademark-program">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-2x fa-trademark"></i>
              </span>
              <br>
              Trademark Program by <br>
              Griffin Solution Plt
            </div>
          </a>
        </div>

        <div class="col-sm-4 text-center">
          <a routerLink="/soft-skill-training/detail/management">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-2x fa-tasks"></i>
              </span>
              <br>
              Management
            </div>
          </a>
        </div>

        <div class="col-sm-4 text-center">
          <a routerLink="/soft-skill-training/detail/leadership-pipeline-programs">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-2x fa-user-ninja"></i>
              </span>
              <br>
              Leadership Pipeline Programs
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-4 text-center">
          <a routerLink="/soft-skill-training/detail/communication-hr-training-programs">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-2x fa-phone-square"></i>
              </span>
              <br>
              Communication and Human
              Relations Training Programs
            </div>
          </a>
        </div>

        <div class="col-sm-4 text-center">
          <a routerLink="/soft-skill-training/detail/managing-training-and-trainer-programs">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-user-cog fa-2x"></i>
              </span>
              <br>
              Managing Training
              and Trainer Programs
            </div>
          </a>
        </div>

        <div class="col-sm-4 text-center">
          <a routerLink="/soft-skill-training/detail/team-building">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-users fa-2x"></i>
              </span>
              <br>
              Team Building
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-4 text-center">
          <a routerLink="/soft-skill-training/detail/employee-development">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-user-check fa-2x"></i>
              </span>
              <br>
              Employee Development
            </div>
          </a>
        </div>

        <div class="col-sm-4 text-center">
          <a routerLink="/soft-skill-training/detail/hrd-and-industrial-relations">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-fingerprint fa-2x"></i>
              </span>
              <br>
              Human Resource Development
              and Industrial Relations programs
            </div>
          </a>
        </div>

        <div class="col-sm-4 text-center">
          <a routerLink="/soft-skill-training/detail/managerial-and-executive-development">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-user-tie fa-2x"></i>
              </span>
              <br>
              Managerial and Executive
              Development Programs
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-4 text-center">
          <a routerLink="/soft-skill-training/detail/supervisory-development-programs">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-user-shield fa-2x"></i>
              </span>
              <br>
              Supervisory
              Development Programs
            </div>
          </a>
        </div>

        <div class="col-sm-4 text-center">
          <a routerLink="/soft-skill-training/detail/language-programs">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-language fa-2x"></i>
              </span>
              <br>
              Language Programs
            </div>
          </a>
        </div>

        <div class="col-sm-4 text-center">
          <a routerLink="/soft-skill-training/detail/sales-and-marketing-programs">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-ad fa-2x"></i>
              </span>
              <br>
              Sales and Marketing
              Programs
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-4 text-center">
          <a routerLink="/soft-skill-training/detail/financial-management-programs">
            <div data-aos="fade-up" data-aos-duration="3000">
              <span class="dot mb-2">
                <i class="fas fa-dollar-sign fa-2x"></i>
              </span>
              <br>
              Financial
              Management Programs
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- show only on xs -->
    <div class="d-block d-sm-none">
      <div class="row mt-5">
        <div class="col-6 text-center">
          <a routerLink="/soft-skill-training/detail/trademark-program">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-2x fa-trademark"></i>
              </span>
              <br>
              Trademark Program by <br>
              Griffin Solution Plt
            </div>
          </a>
        </div>

        <div class="col-6 text-center">
          <a routerLink="/soft-skill-training/detail/management">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-2x fa-tasks"></i>
              </span>
              <br>
              Management
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-6 text-center">
          <a routerLink="/soft-skill-training/detail/leadership-pipeline-programs">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-2x fa-user-ninja"></i>
              </span>
              <br>
              Leadership Pipeline Programs
            </div>
          </a>
        </div>

        <div class="col-6 text-center">
          <a routerLink="/soft-skill-training/detail/communication-hr-training-programs">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-2x fa-phone-square"></i>
              </span>
              <br>
              Communication and Human
              Relations Training Programs
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-6 text-center">
          <a routerLink="/soft-skill-training/detail/managing-training-and-trainer-programs">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-user-cog fa-2x"></i>
              </span>
              <br>
              Managing Training
              and Trainer Programs
            </div>
          </a>
        </div>

        <div class="col-6 text-center">
          <a routerLink="/soft-skill-training/detail/team-building">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-users fa-2x"></i>
              </span>
              <br>
              Team Building
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-6 text-center">
          <a routerLink="/soft-skill-training/detail/employee-development">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-user-check fa-2x"></i>
              </span>
              <br>
              Employee Development
            </div>
          </a>
        </div>

        <div class="col-6 text-center">
          <a routerLink="/soft-skill-training/detail/hrd-and-industrial-relations">
            <div data-aos="fade-up" data-aos-duration="2000">
              <span class="dot mb-2">
                <i class="fas fa-fingerprint fa-2x"></i>
              </span>
              <br>
              Human Resource Development
              and Industrial Relations programs
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-6 text-center">
          <a routerLink="/soft-skill-training/detail/managerial-and-executive-development">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-user-tie fa-2x"></i>
              </span>
              <br>
              Managerial and Executive
              Development Programs
            </div>
          </a>
        </div>

        <div class="col-6 text-center">
          <a routerLink="/soft-skill-training/detail/supervisory-development-programs">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-user-shield fa-2x"></i>
              </span>
              <br>
              Supervisory
              Development Programs
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-6 text-center">
          <a routerLink="/soft-skill-training/detail/language-programs">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-language fa-2x"></i>
              </span>
              <br>
              Language Programs
            </div>
          </a>
        </div>

        <div class="col-6 text-center">
          <a routerLink="/soft-skill-training/detail/sales-and-marketing-programs">
            <div data-aos="fade-up" data-aos-duration="2500">
              <span class="dot mb-2">
                <i class="fas fa-ad fa-2x"></i>
              </span>
              <br>
              Sales and Marketing
              Programs
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-6 text-center">
          <a routerLink="/soft-skill-training/detail/financial-management-programs">
            <div data-aos="fade-up" data-aos-duration="3000">
              <span class="dot mb-2">
                <i class="fas fa-dollar-sign fa-2x"></i>
              </span>
              <br>
              Financial
              Management Programs
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
