<div class="container mt-7 mb-gallery">
  <h5 class="text-center mt-5">Photo Gallery</h5>
  <hr>
  <div id="gallery">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="row galleries">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4" *ngFor="let item of galleries | paginate: { itemsPerPage: itemPerpage, currentPage: p }">
          <div class="card gallery">
            <div class="card-body p-0">
              <a href="{{item.file_location}}" class="mag-popup" data-interval='1000'>
                <img src="{{item.file_location}}" class="w-100" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <pagination-controls class="my-pagination mb-3"
            (pageChange)="p = $event"
            previousLabel="Previous"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
