<div class="container mt-7 mb-5">
  <h5 class="text-center mt-5 color-teal">What area would you like to explore?</h5>
  <div class="row mt-5">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-7">
              <p class="card-content">
                CEO's Message
              </p>
            </div>
            <div class="col-lg-5">
              <i class="far fa-sticky-note circle-icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-7">
              <p class="card-content">
                Corporate Statements
              </p>
            </div>
            <div class="col-lg-5">
              <i class="fas fa-align-left circle-icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-7">
              <p class="card-content">
                Corporate Information
              </p>
            </div>
            <div class="col-lg-5">
              <i class="fas fa-industry circle-icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-7">
              <p class="card-content">
                Our Commitment
              </p>
            </div>
            <div class="col-lg-5">
              <i class="fas fa-handshake circle-icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 pl-0 pr-0 mt-5">
    <div class="card text-white bg-teal">
      <div class="card-body p-4">
        <div class="row">
          <div class="col-lg-8" data-aos="fade-right">
            <h3>Start 30-Day FREE Trial.</h3>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-white btn-block btn-try" data-aos="fade-left">TRY FOR FREE NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
