.image-mt
  margin-top: 7rem

.bg-teal
  background-color: teal

.btn-white
  background-color: white
  color: teal
  font-weight: 600

.color-teal
  color: teal

.btn-try, .btn-start-now
  transition: transform .2s
  &:hover
    transform: scale(1.05)

h3
  font-size: 1.75em
  font-weight: 600

h5
  font-size: 1.5em

h6
  line-height: 3vh
  color: #666

.mt-7
  margin-top: 7em

.text-black
  color: black

.dot
  height: 65px
  width: 65px
  background-color: teal
  border-radius: 50%
  display: inline-block
  color: white

.fas, .fab
  padding-top: 15px

.fa-tasks
  padding: 15px

.card
  border-radius: 15px
  .card-body
    height: 20vh

    .col-lg-7
      padding: 15px
      .card-content
        position: absolute
        bottom: 0
        margin-bottom: 0
        font-size: 20px
        font-weight: 600
        color: #1A1B1D

    .col-lg-5
      .fas, .circle-icon
        margin-top: 8vh
        padding-top: 20px
        font-size: 35px
        text-align: center
        background: teal
        width: 100%
        height: 73px
        border-radius: 50%
        line-height: 30px
        color: white
