.image-mt
  margin-top: 7rem

.bg-teal
  background-color: teal

.btn-white
  background-color: white
  color: teal
  font-weight: 600

.color-teal
  color: teal

.btn-try, .btn-start-now
  transition: transform .2s
  &:hover
    transform: scale(1.05)

h3, h5
  color: white

h3
  font-size: 1.75em
  font-weight: 600

h5
  font-size: 1.5em

h6
  line-height: 3vh
  color: #666

.justify-text
  text-align: justify

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  h6
    color: #666
    line-height: normal

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px)
  h6
    color: #666
    line-height: normal
