<div class="container">
  <div id="mission-header">
    <!-- show on xl and lg -->
    <div class="d-none d-lg-block d-xl-block mt-3 show-large">
      <div class="row justify-content-lg-center">
        <div class="col col-lg-3 image-mt">
          <img src="assets/images/mision.png" class="w-100" alt="Mision Image">
        </div>
      </div>
    </div>
    <!-- show only on md -->
    <div class="d-none d-md-block d-lg-none">
      <div class="row justify-content-md-center">
        <div class="col col-md-3 image-mt">
          <img src="assets/images/mision.png" class="w-100" alt="Mision Image">
        </div>
      </div>
    </div>
    <!-- show only on sm -->
    <div class="d-none d-sm-block d-md-none">
      <div class="row justify-content-sm-center">
        <div class="col col-sm-6 image-mt">
          <img src="assets/images/mision.png" class="w-100" alt="Mision Image">
        </div>
      </div>
    </div>
    <!-- show only on xs -->
    <div class="d-block d-sm-none">
      <div class="row justify-content-center">
        <div class="col col-6 image-mt">
          <img src="assets/images/mision.png" class="w-100" alt="Mision Image">
        </div>
      </div>
    </div>
  </div>
  <h6 class="justify-text mt-5" data-aos="fade-right">
    Our mission is to ensure that all the training and development activity which we undertake will have a positive impact on the future performance on our client business.
    We will provide inspiring training that motivates individual to archieve their full potensial by helping our clients to archieve their corporate goals.
  </h6>

  <!-- button -->
  <div class="col-lg-12 pl-0 pr-0 mt-5">
    <div class="card text-white bg-teal">
      <div class="card-body p-4">
        <!-- hide on md, show on xl and lg -->
        <div class="d-none d-lg-block d-xl-block mt-3 show-large">
          <div class="row">
            <div class="col-lg-8" data-aos="fade-right">
              <h3>Start 30-Day FREE Trial.</h3>
            </div>
            <div class="col-lg-4">
              <button class="btn btn-white btn-block btn-try" data-aos="fade-left">TRY FOR FREE NOW</button>
            </div>
          </div>
        </div>

        <!-- show only on md -->
        <div class="d-none d-md-block d-lg-none">
          <div class="row">
            <div class="col-lg-8" data-aos="fade-right">
              <h3 class="text-center">Start 30-Day FREE Trial.</h3>
            </div>
            <div class="col-lg-4">
              <button class="btn btn-white btn-block btn-try" data-aos="fade-left">TRY FOR FREE NOW</button>
            </div>
          </div>
        </div>

        <!-- show only on sm -->
        <div class="d-none d-sm-block d-md-none">
          <div class="row">
            <div class="col-lg-8" data-aos="fade-right">
              <h3 class="text-center">Start 30-Day FREE Trial.</h3>
            </div>
            <div class="col-lg-4">
              <button class="btn btn-white btn-block btn-try" data-aos="fade-left">TRY FOR FREE NOW</button>
            </div>
          </div>
        </div>

        <!-- show only on xs -->
        <div class="d-block d-sm-none">
          <div class="row">
            <div class="col-lg-8" data-aos="fade-right">
              <h3 class="text-center">Start 30-Day FREE Trial.</h3>
            </div>
            <div class="col-lg-4">
              <button class="btn btn-white btn-block btn-try" data-aos="fade-left">TRY FOR FREE NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
