.main-navbar
  .pt-2px
    padding-top: 2px

    ul.navbar-nav
      li.nav-item
        a
          font-weight: bold
          color: #666

          &:hover
            color: #b1d145
            border-top: 2px solid #b1d145

.top-navbar
  .img-logo
    width: 4.5vw
    position: absolute
    top: 0

.sticky
    background: #fff
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08)
    position: fixed
    top: 0
    height: 120px
    width: 100%

.show
  display: block

.hide
  display: none

footer
  p
    font-size: .75rem

.icon-button
  // background-color: white
  border-radius: 3.6rem
  cursor: pointer
  display: inline-block
  font-size: 1.2rem
  height: 1.5rem
  line-height: 3.8rem
  margin: 0 5px
  position: relative
  text-align: center
  -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
          user-select: none
  width: 1.5rem

  &:hover
    .fa-facebook-f,
    .fa-youtube,
    .fa-linkedin,
    .fa-instagram
      color: white

    span
      width: 2rem
      height: 2rem
      border-radius: 2rem
      margin-top: -1rem
      margin-left: -.9rem
      // margin: -1.1rem

  span
    border-radius: 0
    display: block
    height: 0
    left: 50%
    margin: 0
    position: absolute
    top: 50%
    -webkit-transition: all 0.3s
      -moz-transition: all 0.3s
        -o-transition: all 0.3s
            transition: all 0.3s
    width: 0

  i
    background: none
    color: white
    height: 1.8rem
    left: 0
    line-height: 1.8rem
    position: absolute
    top: 0
    -webkit-transition: all 0.3s
        -moz-transition: all 0.3s
          -o-transition: all 0.3s
            transition: all 0.3s
    width: 1.8rem
    z-index: 10

  .fa-facebook-f
    color: #3B5998

  .fa-youtube
    color: #FF0000

  .fa-linkedin
    color: #2867B2

  .fa-instagram
    color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)


.facebook span
  background-color: #3B5998

.linkedIn span
  background-color: #2867B2

.instagram span
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)
  box-shadow: 0px 3px 10px rgba(0,0,0,.25)

.youtube span
  background-color: #FF0000

  //carousel-control
.carousel-control-prev-icon
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")

.carousel-control-next-icon
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
