<div class="container mt-7 mb-5">
  <h5 class="text-center mt-5">ISO STANDARDS & SOCIAL COMPLIANCE</h5>
  <div id="iso-starndards">
    <h6 class="font-weight-bold mt-5 text-black mb-3 underscore">ISO STANDARDS</h6>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="fas fa-shield-alt fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center text-black">
              MS ISO 9001:2015
            </h6>
            <h6 class="mb-0 font-weight-bold text-center">
              Quality Management System (QMS)
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="fas fa-seedling fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center text-black">
              MS ISO 14001: 2015
            </h6>
            <h6 class="mb-0 font-weight-bold text-center">
              Environmental Management Systems (EMS)
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="fas fa-briefcase-medical fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center text-black">
              MS ISO 45001:2018
            </h6>
            <h6 class="mb-0 font-weight-bold text-center">
              Occupational Health and Safety
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="fas fa-user-shield fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center text-black">
              MS ISO 22000: 2012
            </h6>
            <h6 class="mb-0 font-weight-bold text-center">
              Food safety management systems- Requirements for any organization in the food chain
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="fas fa-hard-hat fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center text-black">
              MS ISO/IEC 27001: 2007
            </h6>
            <h6 class="mb-0 font-weight-bold text-center">
              Information Security Management Systems
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="fas fa-charging-station fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center text-black">
              MS ISO 50001:2011
            </h6>
            <h6 class="mb-0 font-weight-bold text-center">
              Energy Management Systems
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="fas fa-hand-holding-usd fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center text-black">
              ISO 37001:2016
            </h6>
            <h6 class="mb-0 font-weight-bold text-center">
              Anti Bribery Management System
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="fas fa-car fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center text-black">
              ISO IATF 16949:2016
            </h6>
            <h6 class="mb-0 font-weight-bold text-center">
              Automotive Quality Management System
            </h6>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="social-compliance">
    <h6 class="font-weight-bold mt-5 text-black mb-3 underscore">SOCIAL COMPLIANCE</h6>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="far fa-handshake fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center">
              RESPONSIBLE BUSINESS ALLIANCE](RBA)
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="fas fa-certificate fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center">
              SEDEX- SMETA COMPLIANCE
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="fas fa-briefcase fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center">
              BUSINES SOCIAL COMPLIANCE INITIATIVE(BSCI)
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="fas fa-people-carry fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center">
              FLA [FAIR LABOR ASSOCIATION) COMPLIANCE
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="fas fa-certificate fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center">
              SA8000 AWARENES
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="fas fa-street-view fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center">
              GUIDANCE TRAINING ON IS026001
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="top-icon text-center mb-2">
              <i class="fab fa-microsoft fa-2x"></i>
            </div>
            <h6 class="mb-0 font-weight-bold text-center">
              MICROSOFT SEA [SOCIAL ENVIRONMENT AUDIT) COMPLIANCE
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
