@import "https://fonts.googleapis.com/css?family=Special+Elite"
.image-mt
  margin-top: 7rem

.bg-teal
  background-color: teal

.btn-white
  background-color: white
  color: teal
  font-weight: 600

.color-teal
  color: teal

.btn-try, .btn-start-now
  transition: transform .2s
  &:hover
    transform: scale(1.05)

h3
  font-size: 1.75em
  font-weight: 600

h5
  font-size: 1.5em

h6
  line-height: 3vh
  color: #666

.mt-7
  margin-top: 7em

.text-black
  color: black

.dot
  height: 65px
  width: 65px
  background-color: rgba(2,193,66,255)
  border-radius: 50%
  display: inline-block
  color: white

.fas, .fab, .far
  padding-top: 15px

.fa-tasks
  padding: 15px

.text-center
  a
    color: #02c142
    font-size: 16px
    font-weight: normal

    &:hover
      text-decoration: none
      color: teal

      .dot
        text-decoration: none
        background-color: teal

    .visited
      color: red

p
  font-weight: 500
  font-size: 18px

.pl-5px
  padding-left: 5px



// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
  .container
    height: 73%

  blockquote
    font-family: 'Special Elite', cursive
    font-weight: 100
    font-size: 1.5rem
    max-width: 100%
    line-height: 1.4
    position: relative
    margin: 0
    padding: .5rem

  blockquote:before,
  blockquote:after
    position: absolute
    color: #f1efe6
    font-size: 4rem
    width: 4rem
    height: 4rem

  blockquote:before
    content: "\201C"
    left: -3rem
    top: -1rem

  blockquote:after
    content: "\201C"
    right: -3rem
    bottom: 0

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px)
  blockquote
    font-family: 'Special Elite', cursive
    font-weight: 100
    font-size: 1.5rem
    max-width: 100%
    line-height: 1.4
    position: relative
    margin: 0
    padding: .5rem

  blockquote:before,
  blockquote:after
    position: absolute
    color: #f1efe6
    font-size: 4rem
    width: 4rem
    height: 4rem

  blockquote:before
    content: "\201C"
    left: -3rem
    top: -1rem

  blockquote:after
    content: "\201C"
    right: -3rem
    bottom: 0

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px)
  .container
    height: 65%

  blockquote
    font-family: 'Special Elite', cursive
    font-weight: 100
    font-size: 1.5rem
    max-width: 100%
    line-height: 1.4
    position: relative
    margin: 0
    padding: .5rem

  blockquote:before,
  blockquote:after
    position: absolute
    color: #f1efe6
    font-size: 4rem
    width: 4rem
    height: 4rem

  blockquote:before
    content: "\201C"
    left: -3rem
    top: -1rem

  blockquote:after
    content: "\201C"
    right: -3rem
    bottom: 1rem

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px)
  blockquote
    font-family: 'Special Elite', cursive
    font-weight: 100
    font-size: 1.5rem
    max-width: 100%
    line-height: 1.4
    position: relative
    margin: 0
    padding: .5rem

  blockquote:before,
  blockquote:after
    position: absolute
    color: #f1efe6
    font-size: 4rem
    width: 4rem
    height: 4rem

  blockquote:before
    content: "\201C"
    left: -5rem
    top: -1rem

  blockquote:after
    content: "\201C"
    right: -5rem
    bottom: 1rem

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  .container, footer
    width: 100%

  blockquote
    font-family: 'Special Elite', cursive
    font-weight: 100
    font-size: 1.5rem
    max-width: 100%
    line-height: 1.4
    position: relative
    margin: 0
    padding: .5rem

  blockquote:before,
  blockquote:after
    position: absolute
    color: #f1efe6
    font-size: 4rem
    width: 9rem
    height: 4rem

  blockquote:before
    content: "\201C"
    left: -4rem
    top: -1rem

  blockquote:after
    content: "\201C"
    right: -5rem
    bottom: 1rem
