<div class="container mt-7 mb-5">
  <div class="col-lg-12 col-12">
    <blockquote class="text-center">"{{randomQuote.quote}}"</blockquote>
    <p class="text-center">{{randomQuote.from}}</p>
  </div>

  <h5 class="text-center mt-5">Technical Skill Training</h5>
  <div id="technical-skill-training">
    <!-- show on xl and lg -->
    <div class="d-none d-lg-block d-xl-block mt-3 show-large">
      <div class="row mt-5">
        <div class="col-lg-3 text-center">
          <a routerLink="/technical-skill-training/detail/html5-javascript-programming">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fab fa-html5 fa-2x"></i>
              </span>
              <br>
              Programming in HTML5 with Javascript and CSS3
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/technical-skill-training/detail/gamification">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-gamepad fa-2x"></i>
              </span>
              <br>
              Gamification
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/technical-skill-training/detail/industrial-plc-technology-operation">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-digital-tachograph fa-2x"></i>
              </span>
              <br>
              Industrial PLC Technology Operation
            </div>
          </a>
        </div>

        <div class="col-lg-3 text-center">
          <a routerLink="/technical-skill-training/detail/rohs-hs-management-system">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-radiation-alt fa-2x"></i>
              </span>
              <br>
              ROHS (ROHS2) - HS Management System In Manufacturing Industry
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-12">
          <div class="d-flex justify-content-center">
            <div class="col-lg-3 text-center">
              <a routerLink="/technical-skill-training/detail/supply-chain-security-training">
                <div data-aos="fade-up" data-aos-duration="1500">
                  <span class="dot mb-2">
                    <i class="fas fa-link fa-2x"></i>
                  </span>
                  <br>
                  Supply Chain Security Training & Threat Awarness
                </div>
              </a>
            </div>
            <div class="col-lg-3 text-center">
              <a routerLink="/technical-skill-training/detail/vda-6.3-implementing-the-process-audit">
                <div data-aos="fade-up" data-aos-duration="1500">
                  <span class="dot mb-2">
                    <i class="fas fa-car fa-2x"></i>
                  </span>
                  <br>
                  VDA 6.3 Implementing the Process Audit
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- show only on md -->
    <div class="d-none d-md-block d-lg-none">
      <div class="row mt-5">
        <div class="col-md-4 text-center">
          <a routerLink="/technical-skill-training/detail/html5-javascript-programming">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fab fa-html5 fa-2x"></i>
              </span>
              <br>
              Programming in HTML5 with Javascript and CSS3
            </div>
          </a>
        </div>

        <div class="col-md-4 text-center">
          <a routerLink="/technical-skill-training/detail/gamification">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-gamepad fa-2x"></i>
              </span>
              <br>
              Gamification
            </div>
          </a>
        </div>

        <div class="col-md-4 text-center">
          <a routerLink="/technical-skill-training/detail/industrial-plc-technology-operation">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-digital-tachograph fa-2x"></i>
              </span>
              <br>
              Industrial PLC Technology Operation
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4 text-center">
          <a routerLink="/technical-skill-training/detail/rohs-hs-management-system">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-radiation-alt fa-2x"></i>
              </span>
              <br>
              ROHS (ROHS2) - HS Management System In Manufacturing Industry
            </div>
          </a>
        </div>
        <div class="col-md-4 text-center">
          <a routerLink="/technical-skill-training/detail/supply-chain-security-training">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-link fa-2x"></i>
              </span>
              <br>
              Supply Chain Security Training & Threat Awarness
            </div>
          </a>
        </div>
        <div class="col-md-4 text-center">
          <a routerLink="/technical-skill-training/detail/vda-6.3-implementing-the-process-audit">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-car fa-2x"></i>
              </span>
              <br>
              VDA 6.3 Implementing the Process Audit
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- show only on sm -->
    <div class="d-none d-sm-block d-md-none">
      <div class="row mt-5">
        <div class="col-sm-4 text-center">
          <a routerLink="/technical-skill-training/detail/html5-javascript-programming">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fab fa-html5 fa-2x"></i>
              </span>
              <br>
              Programming in HTML5 with Javascript and CSS3
            </div>
          </a>
        </div>

        <div class="col-sm-4 text-center">
          <a routerLink="/technical-skill-training/detail/gamification">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-gamepad fa-2x"></i>
              </span>
              <br>
              Gamification
            </div>
          </a>
        </div>

        <div class="col-sm-4 text-center">
          <a routerLink="/technical-skill-training/detail/industrial-plc-technology-operation">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-digital-tachograph fa-2x"></i>
              </span>
              <br>
              Industrial PLC Technology Operation
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-4 text-center">
          <a routerLink="/technical-skill-training/detail/rohs-hs-management-system">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-radiation-alt fa-2x"></i>
              </span>
              <br>
              ROHS (ROHS2) - HS Management System In Manufacturing Industry
            </div>
          </a>
        </div>
        <div class="col-sm-4 text-center">
          <a routerLink="/technical-skill-training/detail/supply-chain-security-training">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-link fa-2x"></i>
              </span>
              <br>
              Supply Chain Security Training & Threat Awarness
            </div>
          </a>
        </div>
        <div class="col-sm-4 text-center">
          <a routerLink="/technical-skill-training/detail/vda-6.3-implementing-the-process-audit">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-car fa-2x"></i>
              </span>
              <br>
              VDA 6.3 Implementing the Process Audit
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- show only on xs -->
    <div class="d-block d-sm-none">
      <div class="row mt-5">
        <div class="col-6 text-center">
          <a routerLink="/technical-skill-training/detail/html5-javascript-programming">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fab fa-html5 fa-2x"></i>
              </span>
              <br>
              Programming in HTML5 with Javascript and CSS3
            </div>
          </a>
        </div>

        <div class="col-6 text-center">
          <a routerLink="/technical-skill-training/detail/gamification">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-gamepad fa-2x"></i>
              </span>
              <br>
              Gamification
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6 text-center">
          <a routerLink="/technical-skill-training/detail/industrial-plc-technology-operation">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-digital-tachograph fa-2x"></i>
              </span>
              <br>
              Industrial PLC Technology Operation
            </div>
          </a>
        </div>
        <div class="col-6 text-center">
          <a routerLink="/technical-skill-training/detail/rohs-hs-management-system">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-radiation-alt fa-2x"></i>
              </span>
              <br>
              ROHS (ROHS2) - HS Management System In Manufacturing Industry
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6 text-center">
          <a routerLink="/technical-skill-training/detail/supply-chain-security-training">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-link fa-2x"></i>
              </span>
              <br>
              Supply Chain Security Training & Threat Awarness
            </div>
          </a>
        </div>
        <div class="col-6 text-center">
          <a routerLink="/technical-skill-training/detail/vda-6.3-implementing-the-process-audit">
            <div data-aos="fade-up" data-aos-duration="1500">
              <span class="dot mb-2">
                <i class="fas fa-car fa-2x"></i>
              </span>
              <br>
              VDA 6.3 Implementing the Process Audit
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
