<div class="container">
  <h6 class="justify-text mt-7" data-aos="fade-right">
    We acknowledge out client more like a partner instead of customer.  Our commitment extends beyond classroom training.  Therefore we design the training package based on the actual needs instead of just a standard syllabus.  We took the relationship to the next level by allowing a direct access to respective trainer upon completion of the course.
  </h6>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mt-4">
      <div class="card">
        <a routerLink="/technical-skill-training">
          <div class="card-body text-center p-5">
            <i class="fas fa-cogs fa-4x"></i>
          </div>
        </a>
      </div>
      <h4 class="mt-3">Technical Skill Training</h4>
      <p class="mt-2 justify-center">
        We provide practical engineering skills training for the industry.  From the latest Quality Management System all the way to Manufacturing Disciplines and Engineering Courses.
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item pl-0 pb-0">Programming in HTML5 with Javascript and CSS3</li>
        <li class="list-group-item pl-0 pb-0">Gamification</li>
        <li class="list-group-item pl-0 pb-0">Industrial PLC Technology Operation</li>
        <li class="list-group-item pl-0 pb-0">ROHS (ROHS2) - HS Management System In Manufacturing Industry</li>
        <li class="list-group-item pl-0 pb-0">Supply Chain Security Training & Threat Awarness</li>
        <li class="list-group-item pl-0 pb-0">VDA 6.3 Implementing the Process Audit</li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mt-4">
      <div class="card">
        <a routerLink="/soft-skill-training">
          <div class="card-body text-center p-5">
            <i class="fas fa-users-cog fa-4x"></i>
          </div>
        </a>
      </div>
      <h4 class="mt-3">Soft Skill Training</h4>
      <p class="mt-2 justify-center">
        Our soft skill courses will accompany your technical talent so the capacity of each individual can be explored to the fullest.  It is also designed to prepare your next layer of management team.
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item pl-0 pb-0">Blue Ocean Strategy Program</li>
        <li class="list-group-item pl-0 pb-0">Design Thinking Workshop</li>
        <li class="list-group-item pl-0 pb-0">Effective Business ENGLISH Writing for Higher Productivity</li>
        <li class="list-group-item pl-0 pb-0">Effective Disciplinary management on Misconduct</li>
        <li class="list-group-item pl-0 pb-0">Kanban Inventory - Demand Management</li>
        <li class="list-group-item pl-0 pb-0">Managing Emotional Intelligence</li>
        <li class="list-group-item pl-0 pb-0">Planning - Organizing Workshop</li>
        <li class="list-group-item pl-0 pb-0">Positive Working Attitude For Peak Performance</li>
        <li class="list-group-item pl-0 pb-0">Productive Supervisory Skills</li>
        <li class="list-group-item pl-0 pb-0">SharePoint for Office 365 End User Training</li>
        <li class="list-group-item pl-0 pb-0">Speaking for Success</li>
        <li class="list-group-item pl-0 pb-0">Story Telling for Influence and Communication Skills</li>
        <li class="list-group-item pl-0 pb-0">The New “U” in Organization</li>
        <li class="list-group-item pl-0 pb-0">Unleash Your Potential</li>
        <li class="list-group-item pl-0 pb-0">Wellness at Work! Integrated Health Promotion System</li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mt-4">
      <div class="card">
        <a routerLink="/industrial-base-training">
          <div class="card-body text-center p-5">
            <i class="fas fa-industry fa-4x"></i>
          </div>
        </a>
      </div>
      <h4 class="mt-3">Industrial Skill Training</h4>
      <p class="mt-2 justify-center">
        We acknowledge out client more like a partner instead of customer.  Our commitment extends beyond classroom training.  Therefore we design the training package based on the actual needs instead of just a standard syllabus.  We took the relationship to the next level by allowing a direct access to respective trainer upon completion of the course.
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item pl-0 pb-0">Autonomous Maintenance</li>
        <li class="list-group-item pl-0 pb-0">Best Practice for Halal Industry</li>
        <li class="list-group-item pl-0 pb-0">Contract Review & Management</li>
        <li class="list-group-item pl-0 pb-0">Halal Awarness</li>
        <li class="list-group-item pl-0 pb-0">Industrial Pneumatic</li>
        <li class="list-group-item pl-0 pb-0">Integrated HACCP, Halal FSSC 22000 Awarness</li>
        <li class="list-group-item pl-0 pb-0">Understanding & Implementation of Responsible Business Alliance</li>
        <li class="list-group-item pl-0 pb-0">Understanding of Mechanical Elements</li>
      </ul>
    </div>
  </div>
</div>
