/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css"

.navbar-fixed
  position: sticky
  width: 100%
  margin-right: auto
  background-color: white
  top: 0
  transition: 0s

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

/* vjs-player.component.css */
@import '~video.js/dist/video-js.css'

h1, h2, h3, h4, h5, h6
  font-family: Gilroy-SemiBold,Helvetica,"Helvetica Neue",Arial,sans-serif !important

body
  font-family: Gilroy-Medium,Helvetica,"Helvetica Neue",Arial,sans-serif !important
  // background-color: #F8FAFB !important

//pagination
.my-pagination

  .ngx-pagination .current
    background: teal
    border-radius: 15px

  li
    margin-right: 5px
    margin-left: 5px
    a
      &:hover
        border-radius: 15px
