body
  font-family: Gilroy-Black,Helvetica,'Helvetica Neue',Arial,sans-serif
  font-size: 14px

.curve-color
  z-index: 10
  height: 30vh
  border-radius: 0px 0px 93% 0px/45em
  background: red
  position: relative

  /* Chrome, Safari, Opera */
  -webkit-animation-name: myfirst
  -webkit-animation-duration: 10s
  -webkit-animation-timing-function: linear
  -webkit-animation-delay: 0s
  -webkit-animation-iteration-count: infinite
  -webkit-animation-direction: alternate
  -webkit-animation-play-state: running

  /* Standard syntax */
  animation-name: myfirst
  animation-duration: 10s
  animation-timing-function: linear
  animation-delay: 0s
  animation-iteration-count: infinite
  animation-direction: alternate
  animation-play-state: running

  h3
    font-size: 2.5em
    text-align: center

h3
  text-align: center

h5
  line-height: 25px

.image-header
  z-index: 15
  position: relative
  bottom: 28vh
  text-align: center
  width: 50%

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
  0%
    background: teal
    left:0px
    top:0px
  25%
    background: #1abc9c
    left:0px
    top:0px
  50%
    background: #e73c7e
    left:0px
    top:0px
  75%
    background: #8e44ad
    left:0px
    top:0px
  100%
    background: #16a085
    left:0px
    top:0px

/* Standard syntax */
@keyframes myfirst
  0%
    background: #16a085
    left:0px
    top:0px
  25%
    background: #1abc9c
    left:0px
    top:0px
  50%
    background: #9b59b6
    left:0px
    top:0px
  75%
    background: #8e44ad
    left:0px
    top:0px
  100%
    background: #16a085
    left:0px
    top:0px

.pt-5em
  padding-top: 3em

.btn-custom
  background-color: white
  color: teal
  border-radius: 20px

.mt-10
  margin-top: 3rem

.bg-teal
  background-color: teal

.btn-white
  background-color: white
  color: teal
  font-weight: 600

.color-teal
  color: teal

.btn-try, .btn-start-now
  transition: transform .2s
  &:hover
    transform: scale(1.05)

.vertical-center
  margin: 0
  position: relative
  top: 50%
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

video
  width: 100% !important
  height: 100% !important


.col-lg-9, .col-md-9, .col-sm-9, .col-9
  text-align: justify

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  .curve-color
    z-index: 10
    height: 68vh !important
    border-radius: 0px 0px 195% 0px/45em

    h3
      font: 2.1em !important

  h3, h5
    color: #87888E

  h3
    font-weight: 600

  h5
    font-size: 1.3em

  .pt-5em
    padding-top: 3em

  .griffin-desc
    padding: 0 15px

  .mt-10
    margin-top: 5em

  .testimonials
    padding: 0 15px
    text-align: justify

  .carousel-control-prev-icon
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important
    position: absolute
    top: -20%

  .carousel-control-next-icon
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important
    position: absolute
    top: -20%

  .btn-white
    background-color: white
    color: teal
    font-weight: 600

  .color-teal
    color: teal

  .btn-try, .btn-start-now
    transition: transform .2s
    &:hover
      transform: scale(1.05)

  .btn-custom
    background-color: white
    color: teal
    border-radius: 20px

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px)
  .curve-color
    z-index: 10
    height: 85vh

  .pt-5em
    padding-top: 7.5rem

  .griffin-desc
    padding: 0 15px

  .mt-minus-10
    margin-top: -6rem !important

.no-decoration
  text-decoration: none

.mt-minus-10
  margin-top: -12rem

.card
  border-style: none

.btn-light
  background-color: white
  &:hover
    background-color: #f8f9fa

.carousel-control-prev-icon
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important

.carousel-control-next-icon
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important
