<div class="container-fluid pl-0 pr-0">
  <div class="col-12 pl-0 pr-0">
    <div class="curve-color">
      <h3 class="text-center text-white pt-5em">Always Learning Always Leading</h3>
      <h5 class="text-center text-white pt-3">Your business deserves to be the best</h5>
    </div>
  </div>
</div>

<!-- 2nd section -->
<div class="container">
  <div class="mt-10" data-aos="zoom-in">
    <!-- hide on md, show on xl and lg -->
    <div class="d-none d-lg-block d-xl-block show-large">
      <div class="row justify-content-md-center mb-5">
        <div class="col col-lg-9">
          <h3>Who are We</h3>
          <h5>We Believe, every client is different and it is crucial to identify clients need before any design and development of programs.</h5>
          <h5>
          At Griffin Solution PLT, as a Training and Consultancy provider, we believe our ability in improving your company performance.
            We're obsessively passionate about it, with consistent and systematic training solution for your employees, allowing your company to grow beyond.
          </h5>
          <h5>We focus on designing and delivering high quality and high impact training program that improved performance, productivity and profitability.</h5>
        </div>
      </div>

      <div class="row justify-content-md-center mt-3">
        <div class="col col-lg-3 align-self-center d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
          <video src="assets/videos/video_1.mp4" type="video/mp4" class="w-100 h-100 vids1" id="vid1" controls
          poster="assets/videos/video1_thumbnail.png"></video>
        </div>
        <div class="col col-lg-3 align-self-center d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
          <video src="assets/videos/video_2.mp4" type="video/mp4" class="w-100 h-100 vids2" id="vid2" controls
          poster="assets/videos/video2_thumbnail.png"></video>
        </div>
        <div class="col col-lg-3 align-self-center d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
          <video src="assets/videos/video_4.mp4" type="video/mp4" class="w-100 h-100 vids3" id="vid3" controls
          poster="assets/videos/video3_thumbnail.png"></video>
        </div>
      </div>
    </div>

    <!-- show only on md -->
    <div class="d-none d-md-block d-lg-none">
      <div class="row justify-content-md-center mb-5">
        <div class="col col-md-9">
          <h3>Who are We</h3>
          <h5>We Believe, every client is different and it is crucial to identify clients need before any design and development of programs.</h5>
          <h5>
          At Griffin Solution PLT, as a Training and Consultancy provider, we believe our ability in improving your company performance.
            We're obsessively passionate about it, with consistent and systematic training solution for your employees, allowing your company to grow beyond.
          </h5>
          <h5>We focus on designing and delivering high quality and high impact training program that improved performance, productivity and profitability.</h5>
        </div>
      </div>

      <div class="row justify-content-md-center mt-3">
        <div class="col col-md-3 align-self-center d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#video1">
            <i class="far fa-play-circle fa-5x"></i>
          </button>
        </div>
        <div class="col col-md-3 align-self-center d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#video2">
            <i class="far fa-play-circle fa-5x"></i>
          </button>
        </div>
        <div class="col col-md-3 align-self-center d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#video3">
            <i class="far fa-play-circle fa-5x"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- show only on sm -->
    <div class="d-none d-sm-block d-md-none">
      <div class="griffin-desc">
        <div class="row justify-content-sm-cente mb-5r" data-aos="zoom-in" data-aos-duration="1500">
          <div class="col col-sm-12">
            <h3>Who are We</h3>
            <h5>We Believe, every client is different and it is crucial to identify clients need before any design and development of programs.</h5>
            <h5>
              At Griffin Solution PLT, as a Training and Consultancy provider, we believe our ability in improving your company performance.
              We're obsessively passionate about it, with consistent and systematic training solution for your employees, allowing your company to grow beyond.
            </h5>
            <h5>We focus on designing and delivering high quality and high impact training program that improved performance, productivity and profitability.</h5>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col col-sm-6 align-self-center d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
              <button type="button" class="btn btn-light" data-toggle="modal" data-target="#video1">
                <i class="far fa-play-circle fa-5x"></i>
              </button>
            </div>
            <div class="col col-sm-6 align-self-center d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
              <button type="button" class="btn btn-light" data-toggle="modal" data-target="#video2">
                <i class="far fa-play-circle fa-5x"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row justify-content-sm-center">
          <div class="col col-sm-6 align-self-center d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#video3">
              <i class="far fa-play-circle fa-5x"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- show only on xs screen -->
    <div class="d-block d-sm-none show-xs">
      <div class="griffin-desc">
        <div class="row justify-content-md-center mb-5">
          <div class="col col-12">
            <h3>Who are We</h3>
            <h5>We Believe, every client is different and it is crucial to identify clients need before any design and development of programs.</h5>
            <h5>
              At Griffin Solution PLT, as a Training and Consultancy provider, we believe our ability in improving your company performance.
              We're obsessively passionate about it, with consistent and systematic training solution for your employees, allowing your company to grow beyond.
            </h5>
            <h5>We focus on designing and delivering high quality and high impact training program that improved performance, productivity and profitability.</h5>
          </div>
        </div>
        <div class="col col-12 align-self-center d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#video1">
            <i class="far fa-play-circle fa-5x"></i>
          </button>
        </div>
        <div class="col col-12 align-self-center d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#video2">
            <i class="far fa-play-circle fa-5x"></i>
          </button>
        </div>
        <div class="col col-12 align-self-center d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#video3">
            <i class="far fa-play-circle fa-5x"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 4th section -->
<div class="container">
  <div class="testimonials mt-5" data-aos="zoom-in" data-aos-duration="1500">
    <h3 class="text-center">Testimonials</h3>
    <!-- hide on md, show on xl and lg -->
    <div class="d-none d-lg-block d-xl-block mt-3 show-large">
      <div class="col-lg-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h6>
                ‘NHKM are extremely pleased with the services Griffin Solution has provided. All the trainers were excellent, professional, knowledgeable, and created positive learning environments.

                Overall experience was very good with well-designed training materials and arrangement.’ Thank You.
              </h6>
              <p class="mb-0 mt-3">Sivaranjini Ramalingam</p>
              <p>
                HRA Senior Officer
                NHK Manufacturing (M) Sdn Bhd
              </p>
            </div>
            <div class="carousel-item">
              <h6>
                "We have been Liaising with Griffin Solution pertaining to training matters during this MCO. We are grateful with the service rendered and training conducted by their profound speakers.’ In line to this we would like to wish them to keep up the good job!"
              </h6>
              <p class="mb-0 mt-3">Vernon Raja</p>
              <p>
                Leadership,
                Manager Human Resources
                Etika Sdn Bhd
              </p>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    <!-- show only on md -->
    <div class="d-none d-md-block d-lg-none">
      <div class="col-md-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h6>
                "A big thanks to Griffin Solution that conducted our Team Building Training - Rise To Chanllenge. The course covered our expectations and more. It was an eye opener. Everyone I spoke to that attended your training course expressed their satisfaction and was wishing if more others could be done...."
              </h6>
              <p>D.Sheela, Samsumg SDS</p>
            </div>
            <!-- <div class="carousel-item">
              <h6>
                "A big thanks to Griffin Solution that conducted our Team Building Training - Rise To Chanllenge. The course covered our expectations and more. It was an eye opener. Everyone I spoke to that attended your training course expressed their satisfaction and was wishing if more others could be done...."
              </h6>
              <p>D.Sheela, Samsumg SDS</p>
            </div>
            <div class="carousel-item">
              <h6>
                "A big thanks to Griffin Solution that conducted our Team Building Training - Rise To Chanllenge. The course covered our expectations and more. It was an eye opener. Everyone I spoke to that attended your training course expressed their satisfaction and was wishing if more others could be done...."
              </h6>
              <p>D.Sheela, Samsumg SDS</p>
            </div> -->
          </div>
          <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
      </div>
    </div>

    <!-- show only on sm -->
    <div class="d-none d-sm-block d-md-none">
      <div class="col-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h6>
                "A big thanks to Griffin Solution that conducted our Team Building Training - Rise To Chanllenge. The course covered our expectations and more. It was an eye opener. Everyone I spoke to that attended your training course expressed their satisfaction and was wishing if more others could be done...."
              </h6>
              <p>D.Sheela, Samsumg SDS</p>
            </div>
            <!-- <div class="carousel-item">
              <h6>
                "A big thanks to Griffin Solution that conducted our Team Building Training - Rise To Chanllenge. The course covered our expectations and more. It was an eye opener. Everyone I spoke to that attended your training course expressed their satisfaction and was wishing if more others could be done...."
              </h6>
              <p>D.Sheela, Samsumg SDS</p>
            </div>
            <div class="carousel-item">
              <h6>
                "A big thanks to Griffin Solution that conducted our Team Building Training - Rise To Chanllenge. The course covered our expectations and more. It was an eye opener. Everyone I spoke to that attended your training course expressed their satisfaction and was wishing if more others could be done...."
              </h6>
              <p>D.Sheela, Samsumg SDS</p>
            </div> -->
          </div>
          <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
      </div>
    </div>

    <!-- show only on xs screen -->
    <div class="d-block d-sm-none mt-3 show-xs">
      <div class="col-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h6>
                "A big thanks to Griffin Solution that conducted our Team Building Training - Rise To Chanllenge. The course covered our expectations and more. It was an eye opener. Everyone I spoke to that attended your training course expressed their satisfaction and was wishing if more others could be done...."
              </h6>
              <p>D.Sheela, Samsumg SDS</p>
            </div>
            <!-- <div class="carousel-item">
              <h6>
                "A big thanks to Griffin Solution that conducted our Team Building Training - Rise To Chanllenge. The course covered our expectations and more. It was an eye opener. Everyone I spoke to that attended your training course expressed their satisfaction and was wishing if more others could be done...."
              </h6>
              <p>D.Sheela, Samsumg SDS</p>
            </div>
            <div class="carousel-item">
              <h6>
                "A big thanks to Griffin Solution that conducted our Team Building Training - Rise To Chanllenge. The course covered our expectations and more. It was an eye opener. Everyone I spoke to that attended your training course expressed their satisfaction and was wishing if more others could be done...."
              </h6>
              <p>D.Sheela, Samsumg SDS</p>
            </div> -->
          </div>
          <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</div>
