<div class="container mt-7">
  <h6> <strong>Our Commitment</strong> At <strong>Griffin Solution Plt</strong> , we're committed to <strong>Deliver Excellence. No Excuses. No Shortcuts.</strong></h6>
  <h6>Our teams are incredibly diverse, consists of talented people with experience in variety specialties. But there is one thing they all have in common <strong>"Their commitment to the Griffin approach":</strong></h6>
  <ul class="timeline">
    <li>
      <div class="timeline-badge primary">
        <i class="fas fa-assistive-listening-systems"></i>
      </div>
      <div class="timeline-panel" data-aos="fade-right">
        <div class="timeline-heading">
          <h5 class="timeline-title">LISTEN HARD</h5>
        </div>
        <div class="timeline-body">
          <p>Pay attention. Ask the tough questions.</p>
          <p>Dig deep enough to uncover the client's real business needs.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success">
        <i class="fa fa-check"></i>
      </div>
      <div class="timeline-panel" data-aos="fade-left">
        <div class="timeline-heading">
          <h5 class="timeline-title">DO THE RIGHT THING</h5>
        </div>
        <div class="timeline-body">
          <p>Tell the truth. Show integrity. Do what's best for the client, even if it costs us.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge primary">
        <i class="fas fa-thumbs-up"></i>
      </div>
      <div class="timeline-panel" data-aos="fade-right">
        <div class="timeline-heading">
          <h5 class="timeline-title">ROLL UP YOUR SLEEVES</h5>
        </div>
        <div class="timeline-body">
          <p>Don't just stand back and offer advice. Get in there and get it done.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success">
        <i class="fas fa-crown"></i>
      </div>
      <div class="timeline-panel" data-aos="fade-left">
        <div class="timeline-heading">
          <h5 class="timeline-title">WIN</h5>
        </div>
        <div class="timeline-body">
          <p>Losing is not an option. Second best is not an option.</p>
          <p>If there is no way forward, make one.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
