.image-mt
  margin-top: 7rem

.bg-teal
  background-color: teal

.btn-white
  background-color: white
  color: teal
  font-weight: 600

.color-teal
  color: teal

.btn-try, .btn-start-now
  transition: transform .2s
  &:hover
    transform: scale(1.05)

h3, h5
  color: white

h3
  font-size: 1.75em
  font-weight: 600

h5
  font-size: 1.5em

h6
  color: #666
  line-height: 25px
  text-align: justify

.timeline
  list-style: none
  padding: 10px 0 10px
  position: relative

  &::before
    top: 0
    bottom: 0
    position: absolute
    content: " "
    width: 3px
    background-color: #eeeeee
    left: 50%
    margin-left: -1.5px

  li
    margin-bottom: 0x
    position: relative

    &::before, &::after
      content: " "
      display: table

    &::after
      clear: both

    .timeline-panel
      width: 46%
      float: left
      border: 1px solid #d4d4d4
      border-radius: 2px
      padding: 10px
      position: relative
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175)
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175)

      &::before
        position: absolute
        top: 26px
        right: -15px
        display: inline-block
        border-top: 15px solid transparent
        border-left: 15px solid #ccc
        border-right: 0 solid #ccc
        border-bottom: 15px solid transparent
        content: " "

      &::after
        position: absolute
        top: 27px
        right: -14px
        display: inline-block
        border-top: 14px solid transparent
        border-left: 14px solid #fff
        border-right: 0 solid #fff
        border-bottom: 14px solid transparent
        content: " "

    .timeline-badge
      color: #fff
      width: 50px
      height: 50px
      line-height: 50px
      font-size: 1.4em
      text-align: center
      position: absolute
      top: 16px
      left: 50%
      margin-left: -25px
      background-color: #999999
      z-index: 100
      border-top-right-radius: 50%
      border-top-left-radius: 50%
      border-bottom-right-radius: 50%
      border-bottom-left-radius: 50%

.timeline > li.timeline-inverted > .timeline-panel
  float: right

.timeline > li.timeline-inverted > .timeline-panel:before
  border-left-width: 0
  border-right-width: 15px
  left: -15px
  right: auto

.timeline > li.timeline-inverted > .timeline-panel:after
  border-left-width: 0
  border-right-width: 14px
  left: -14px
  right: auto

.timeline-badge.primary
  background-color: #008CBA !important

.timeline-badge.success
  background-color: #43AC6A !important

.timeline-badge.warning
  background-color: #E99002 !important

.timeline-badge.danger
  background-color: #F04124 !important

.timeline-badge.info
  background-color: #5BC0DE !important

.timeline-title
  margin-top: 0
  color: inherit

.timeline-body > p,
.timeline-body > ul
  margin-bottom: 0

.timeline-body > p + p
  margin-top: 5px

.mt-7
  margin-top: 7em
