.image-mt
  margin-top: 7em

.bg-teal
  background-color: teal

.btn-white
  background-color: white
  color: teal
  font-weight: 600

.color-teal
  color: teal

.btn-try, .btn-start-now
  transition: transform .2s
  &:hover
    transform: scale(1.05)

h3, h5
  color: white

h3
  font-size: 1.75em
  font-weight: 600

h5
  font-size: 1.5em

h6
  color: #666
  line-height: 25px
  text-align: justify

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  .bg-teal
    h3
      text-align: center

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px)
  .image-mt
    margin-top: 7.5em
