<div class="container">
  <!-- hide on md, show on xl and lg -->
  <div class="d-none d-lg-block d-xl-block mt-3 show-large">
    <div class="row justify-content-lg-center">
      <div class="col col-lg-4 image-mt">
        <img src="assets/images/ceo-message.png" class="w-100" alt="Mision Image">
      </div>
    </div>
  </div>

  <!-- show only on md -->
  <div class="d-none d-md-block d-lg-none">
    <div class="row justify-content-md-center">
      <div class="col col-md-6 image-mt">
        <img src="assets/images/ceo-message.png" class="w-100" alt="Mision Image">
      </div>
    </div>
  </div>

  <!-- show only on sm -->
  <div class="d-none d-sm-block d-md-none">
    <div class="row justify-content-sm-center">
      <div class="col col-sm-6 image-mt">
        <img src="assets/images/ceo-message.png" class="w-100" alt="Mision Image">
      </div>
    </div>
  </div>

  <!-- show only on xs -->
  <div class="d-block d-sm-none">
    <div class="row justify-content-center">
      <div class="col col-8 image-mt">
        <img src="assets/images/ceo-message.png" class="w-100" alt="Mision Image">
      </div>
    </div>
  </div>

  <h6 class="justify-text mt-5" data-aos="fade-right">
    We live in an ever changing world, technologies and systems change daily forcing outward change in our behavior.
    We drive differently, we communicate differently, we manufacture goods differently. The only thing that stays the same is the individual effort of each and every one of us to improve our lives and that requires inner change.
  </h6>
  <h6 class="justify-text mt-3" data-aos="fade-left">
    It brings to mind a quote from Herbert Spencer, "The great aim of education is not knowledge but action". Griffin Solution Plt was founded on this principle, everything we teach is to encourage action that changes and improves the inner-self.
    Our custom approach focuses on understanding the core message and applying that in daily practice. After 8 years of coaching and teaching, our programs have benefitted organizations in dramatically improving productivity, efficiency and market share.
  </h6>
  <h6 class="justify-text mt-3" data-aos="fade-right">
    Let our experienced team of Consultants and Trainers help you in bringing your organization to the next industrial revolution. Give us the opportunity to bring inner change to you and your colleagues, we are excited to start this journey together!
  </h6>
</div>
