<div class="container mt-7 mb-5">
  <h5 class="text-center mb-3">This our complete Trademark Program:</h5>
  <div class="card">
    <div class="card-body">

      <div id="accordion" class="myaccordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Undergraduate Studies
                <span class="fa-stack fa-sm">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                </span>
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Computer Science</li>
                <li>Economics</li>
                <li>Sociology</li>
                <li>Nursing</li>
                <li>English</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Postgraduate Studies
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                </span>
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Informatics</li>
                <li>Mathematics</li>
                <li>Greek</li>
                <li>Biostatistics</li>
                <li>English</li>
                <li>Nursing</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Research
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                </span>
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Astrophysics</li>
                <li>Informatics</li>
                <li>Criminology</li>
                <li>Economics</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="qr-code mt-4">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-2 pr-0">
          <img src="assets/qr-code/detail-trademark.png" class="w-100" alt="Trademark QR Qode">
        </div>
      </div>
    </div>
  </div>
</div>
