.image-mt
  margin-top: 7rem

.bg-teal
  background-color: teal

.btn-white
  background-color: white
  color: teal
  font-weight: 600

.color-teal
  color: teal

.btn-try, .btn-start-now
  transition: transform .2s
  &:hover
    transform: scale(1.05)

h3
  font-size: 1.75em
  font-weight: 600

h5
  font-size: 1.5em

h6
  line-height: 3vh
  color: #666

.mt-7
  margin-top: 7em

.text-black
  color: black

// .header-text
//   padding: 5px 10px
//   background: white
//   border: 1px solid #333
//   border-radius: 20px
//   text-align: center
//   font-weight: 600
//   font-size: 18px

.vertical-center
  margin: 0
  position: relative
  top: 50%
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

// .three
//   h1
//     font-size: 28px
//     font-weight: 600
//     letter-spacing: 0
//     line-height: 1.5em
//     padding-bottom: 15px
//     position: relative

//     &::before
//       content: ""
//       position: absolute
//       left: 0
//       bottom: 0
//       height: 5px
//       width: 55px
//       background-color: #111

//     &::after
//       content: ""
//       position: absolute
//       left: 0
//       bottom: 2px
//       height: 1px
//       width: 95%
//       max-width: 255px
//       background-color: #333

.card-wrapper
  background-color: #F3F3F3
  img
    -webkit-transition: 0.4s ease
    transition: 0.4s ease

  .card-body
    // &:hover
    //   // -webkit-transform: scale(1.08)
    //   transform: scale(1.08)

  // &:hover
  //   -webkit-transform: scale(1.08)
  //   transform: scale(1.08)

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px)
  .manufacturing-sectors
    .card
      .align-items-stretch:nth-child(2),
      .align-items-stretch:nth-child(3),
      .align-items-stretch:nth-child(4),
      .align-items-stretch:nth-child(5),
      .align-items-stretch:nth-child(6)
        margin-top: 1rem !important

  .gov-glc-sectors
    .card
      .align-items-stretch:nth-child(2),
      .align-items-stretch:nth-child(3),
      .align-items-stretch:nth-child(4),
      .align-items-stretch:nth-child(5),
      .align-items-stretch:nth-child(6)
        margin-top: 1rem !important

  .service-sectors
    .card
      .align-items-stretch:nth-child(2),
      .align-items-stretch:nth-child(3),
      .align-items-stretch:nth-child(4),
      .align-items-stretch:nth-child(5),
      .align-items-stretch:nth-child(6)
        margin-top: 1rem !important

  .oil-gas-sectors
    .card
      .align-items-stretch:nth-child(2),
      .align-items-stretch:nth-child(3),
      .align-items-stretch:nth-child(4),
      .align-items-stretch:nth-child(5),
      .align-items-stretch:nth-child(6)
        margin-top: 1rem !important

  .banking-sectors
    .card
      .align-items-stretch:nth-child(2),
      .align-items-stretch:nth-child(3),
      .align-items-stretch:nth-child(4),
      .align-items-stretch:nth-child(5),
      .align-items-stretch:nth-child(6)
        margin-top: 1rem !important

  img.w-100
    width: 25% !important

  img.w-75
    width: 20% !important

  .d-flex
    display: grid !important

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  .manufacturing-sectors
    .card
      .align-items-stretch:nth-child(2),
      .align-items-stretch:nth-child(3),
      .align-items-stretch:nth-child(4),
      .align-items-stretch:nth-child(5),
      .align-items-stretch:nth-child(6)
        margin-top: 1rem !important

  .gov-glc-sectors
    .card
      .align-items-stretch:nth-child(2),
      .align-items-stretch:nth-child(3),
      .align-items-stretch:nth-child(4),
      .align-items-stretch:nth-child(5),
      .align-items-stretch:nth-child(6)
        margin-top: 1rem !important

  .service-sectors
    .card
      .align-items-stretch:nth-child(2),
      .align-items-stretch:nth-child(3),
      .align-items-stretch:nth-child(4),
      .align-items-stretch:nth-child(5),
      .align-items-stretch:nth-child(6)
        margin-top: 1rem !important

  .oil-gas-sectors
    .card
      .align-items-stretch:nth-child(2),
      .align-items-stretch:nth-child(3),
      .align-items-stretch:nth-child(4),
      .align-items-stretch:nth-child(5),
      .align-items-stretch:nth-child(6)
        margin-top: 1rem !important

  .banking-sectors
    .card
      .align-items-stretch:nth-child(2),
      .align-items-stretch:nth-child(3),
      .align-items-stretch:nth-child(4),
      .align-items-stretch:nth-child(5),
      .align-items-stretch:nth-child(6)
        margin-top: 1rem !important

  img.w-100
    width: 50% !important

  img.w-75
    width: 35% !important

  .d-flex
    display: grid !important
