<div class="container mt-7 mb-5">
  <h5 class="text-center">
    Our Valuable Customers
  </h5>

  <div class="manufacturing-sectors">
    <div class="card card-wrapper">
      <div class="card-body">
        <div class="card-title font-weight-bold">
          Manufacturing Sectors
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/honda.png" class="w-100 vertical-center" alt="Honda">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/toyota-boshoku.jpeg" class="w-75 vertical-center" alt="Toyota Boshoku">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/samsung.png" class="w-100 vertical-center" alt="Samsung">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/panasonic.png" class="w-100 vertical-center" alt="Panasonic">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/perodua.png" class="w-100 vertical-center" alt="Perodua">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/on-semiconductor.jpeg" class="w-100 vertical-center" alt="ON Semiconductor">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/hitachi.png" class="w-100 vertical-center" alt="Hitachi">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/hino.jpeg" class="w-75 vertical-center" alt="Hino">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/shinetsu.jpeg" class="w-100 vertical-center" alt="ShinEtsu">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/nwb.jpeg" class="w-100 vertical-center" alt="NWB">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/top-glove.jpeg" class="w-100 vertical-center" alt="Top Glove">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/3m.png" class="w-75 vertical-center" alt="3M">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/toto.jpeg" class="w-100 vertical-center" alt="Toto">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/monier.png" class="w-100 vertical-center" alt="Monier">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/ingress.jpeg" class="w-100 vertical-center" alt="Ingress">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/aisb.png" class="w-100 vertical-center" alt="AISB">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/cabot.png" class="w-100 vertical-center" alt="CABOT">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/continental.png" class="w-100 vertical-center" alt="Continental">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/yamaha.png" class="w-100 vertical-center" alt="Yamaha">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/bosch.png" class="w-100 vertical-center" alt="Bosch">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/Tan Chong.png" class="w-100 vertical-center" alt="Tan Chong">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/daibochi.png" class="w-100 vertical-center" alt="Daibochi">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/continental.png" class="w-100 vertical-center" alt="Continental">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/careglove.jpeg" class="w-100 vertical-center" alt="Care Glove">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/cjcentury.jpg" class="w-100 vertical-center" alt="CJ Century">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/cima.png" class="w-100 vertical-center" alt="CIMA">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/epson-logo.png" class="w-100 vertical-center" alt="EPSON">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/nhk spring.png" class="w-100 vertical-center" alt="NHK Spring">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/jvc.png" class="w-100 vertical-center" alt="JVC">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/dou yee.png" class="w-100 vertical-center" alt="Dou Yee">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/dpem.jpg" class="w-100 vertical-center" alt="DPEM">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/renesas.png" class="w-100 vertical-center" alt="Renesas">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/yamagata.jpeg" class="w-100 vertical-center" alt="Yamagata">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/donghwa.png" class="w-100 vertical-center" alt="Donghwa">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/hicom.jpg" class="w-100 vertical-center" alt="Hicom">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/hitachi-transport-system.svg" class="w-100 vertical-center" alt="Hitachi Transport System">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/hanhwa-q-cells.svg" class="w-100 vertical-center" alt="Hanhwa Q Cells">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/dumex.jpg" class="w-100 vertical-center" alt="Dumex">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/denso.jpeg" class="w-100 vertical-center" alt="Denso">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/matsuda.png" class="w-100 vertical-center" alt="Matsuda">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/sankyu.png" class="w-100 vertical-center" alt="Sankyu">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/image.jpeg" class="w-50 vertical-center" alt="Image">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/kewpie-vector-logo.svg" class="w-100 vertical-center" alt="Kewpie">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/dominant opto.png" class="w-100 vertical-center" alt="Dominant Opto Technologies">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/Nexperia.png" class="w-100 vertical-center" alt="Nexperia">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/ansell.png" class="w-100 vertical-center" alt="Ansell">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/apm.jpeg" class="w-100 vertical-center" alt="APM">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/skmm_mcmc.png" class="w-100 vertical-center" alt="SKMM MCMC">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/micron.png" class="w-100 vertical-center" alt="Micron">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/soshin.jpg" class="w-100 vertical-center" alt="Soshin">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/tdk.png" class="w-100 vertical-center" alt="TDK">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/ndk.png" class="w-100 vertical-center" alt="NDK">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/safran.png" class="w-100 vertical-center" alt="Safran">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/skf.jpg" class="w-100 vertical-center" alt="SKF">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/phn.png" class="w-100 vertical-center" alt="PHN">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/favele.jpg" class="w-100 vertical-center" alt="Favele Favco">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/trox.svg" class="w-100 vertical-center" alt="Trox Technik">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/merellimotori.png" class="w-100 vertical-center" alt="Merelli Motori">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/powercables.jpg" class="w-100 vertical-center" alt="Power Cables Malaysia">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/biocon.png" class="w-100 vertical-center" alt="BIOCON">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/schmidt.png" class="w-100 vertical-center" alt="Schmidt">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/alps.png" class="w-100 vertical-center" alt="Alps">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/sentienx.jpg" class="w-100 vertical-center" alt="Sentienx">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/tekmedic.png" class="w-100 vertical-center" alt="Tekmedic">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/schutz.png" class="w-100 vertical-center" alt="Schutz">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/ctrm.png" class="w-100 vertical-center" alt="CTRM">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/celestica-vector-logo.svg" class="w-100 vertical-center" alt="Celestica">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/schneider-electric.png" class="w-100 vertical-center" alt="Schneider Electric">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/sunpower.jpeg" class="w-100 vertical-center" alt="Sun Power">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/Texchem-Pack.gif" class="w-100 vertical-center" alt="Texchem Pack">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/seagate.png" class="w-100 vertical-center" alt="Seagate">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/shimadzu.jpeg" class="w-100 vertical-center" alt="Shimadzu">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gov-glc-sectors mt-5">
    <div class="card card-wrapper">
      <div class="card-body">
        <div class="card-title font-weight-bold">
          Government & GLC Sectors
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/hrdf.png" class="w-100 vertical-center" alt="HRDF">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/tpk.gif" class="w-100 vertical-center" alt="Tabung Pembangunan Kemahiran">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/iskandar.png" class="w-100 vertical-center" alt="Iskandar">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/kwsp.svg" class="w-100 vertical-center" alt="Kumpulan Wang Simpanan Pekerja">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/lhdn.png" class="w-100 vertical-center" alt="LHDN">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/kemenkes.svg" class="w-100 vertical-center" alt="Kementerian Kesihatan Malaysia">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/amanahraya.jpg" class="w-100 vertical-center" alt="Amanahraya">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/felcra.png" class="w-75 vertical-center" alt="Felcra Berhad">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/punb.png" class="w-100 vertical-center" alt="PUNB">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/jkr.jpg" class="w-100 vertical-center" alt="JKR Negeri Sembilan">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/pnb.png" class="w-100 vertical-center" alt="PNB">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/pns.svg" class="w-100 vertical-center" alt="Perbadanan Nasional Berhad">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/mpn.png" class="w-100 vertical-center" alt="Majelis Perbandaran Nilai">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/mps.png" class="w-100 vertical-center" alt="Majelis Perbandaran Seremban">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/risda.png" class="w-100 vertical-center" alt="RISDA">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/uda-holding.png" class="w-100 vertical-center" alt="UDA Holding Berhad">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/united-malacca.jpg" class="w-100 vertical-center" alt="United Malacca Berhad">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="service-sectors mt-5">
    <div class="card card-wrapper">
      <div class="card-body">
        <div class="card-title font-weight-bold">
          Service Sectors
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/gdex.png" class="w-100 vertical-center" alt="Gdex">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/drb-hicom.png" class="w-100 vertical-center" alt="DRB Hicom">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/safeguards-g4s-sdn-bhd.jpg" class="w-100 vertical-center" alt="Safeguards Gas">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/celcom-axiata.jpg" class="w-100 vertical-center" alt="Celcom Axiata">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/e2s.png" class="w-100 vertical-center" alt="E2S Security Services SDN BHD">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/alam-flora.jpg" class="w-75 vertical-center" alt="Alam Flora SDN BHD">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/logo-mycar.jpg" class="w-100 vertical-center" alt="MyCar">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/JUSCO-Logo.png" class="w-100 vertical-center" alt="JUSCO">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/tesco.png" class="w-100 vertical-center" alt="TESCO">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/Malaysia-Airlines-logo.jpg" class="w-100 vertical-center" alt="Malaysia Airlines">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="oil-gas-sectors mt-5">
    <div class="card card-wrapper">
      <div class="card-body">
        <div class="card-title font-weight-bold">
          Oil & Gas Sectors
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/petronas.png" class="w-100 vertical-center" alt="Petronas">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/sapura-energy.svg" class="w-100 vertical-center" alt="Sapura Energy">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/malakoff.jpeg" class="w-100 vertical-center" alt="Malakoff">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/barakah.png" class="w-100 vertical-center" alt="Barakah Petroleum">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/exxonmobil.png" class="w-100 vertical-center" alt="Exxon Mobil">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/Mewah International.png" class="w-100 vertical-center" alt="Mewah International">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="banking-sectors mt-5">
    <div class="card card-wrapper">
      <div class="card-body">
        <div class="card-title font-weight-bold">
          Banking Sectors
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/mufg.jpg" class="w-100 vertical-center" alt="MUFG">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/cimb.jpg" class="w-100 vertical-center" alt="CIMB Bank">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/bank-muamalat.png" class="w-100 vertical-center" alt="Bank Muamalat">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/maybank.png" class="w-100 vertical-center" alt="Maybank">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/bank-islam.png" class="w-100 vertical-center" alt="Bank Islam">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/BSN_Logo.gif" class="w-100 vertical-center" alt="BSN">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 d-flex align-items-stretch mt-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="assets/images/SME_Bank.svg" class="w-100 vertical-center" alt="SME Bank">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
